In [1]:
import pandas as pd

In [4]:
train = pd.read_csv("../data/raw/train.csv")
test = pd.read_csv("../data/raw/test.csv")

In [ ]:
train.select_dtypes(include='number')

,generation,school1,class1,class2,class3,class4,contest_award,completed_semester,time_input,idea_contest,completed
0,9,22,1,4.0,NaN,NaN,NaN,4.0,2.0,NaN,0
1,9,1,8,NaN,NaN,NaN,NaN,6.0,3.0,NaN,0
2,9,27,7,NaN,NaN,NaN,NaN,8.0,10.0,NaN,0
3,9,1,7,NaN,NaN,NaN,NaN,8.0,2.0,NaN,1
4,9,16,8,NaN,NaN,NaN,NaN,7.0,2.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
743,9,13,7,NaN,NaN,NaN,NaN,8.0,3.0,NaN,0
744,9,43,12,NaN,NaN,NaN,NaN,8.0,3.0,NaN,1
745,9,11,2,NaN,NaN,NaN,NaN,7.0,1.0,NaN,1
746,9,30,5,NaN,NaN,NaN,NaN,6.0,2.0,NaN,1
747,9,25,4,NaN,NaN,NaN,NaN,8.0,3.0,NaN,1

In [7]:
test.select_dtypes(include='number')

,generation,school1,class1,class2,class3,class4,contest_award,completed_semester,time_input,contest_participation,idea_contest
0,10,3,14,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN
1,10,45,16,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN
2,10,56,2,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN
3,10,48,14,15.0,NaN,NaN,NaN,6.0,4.0,NaN,NaN
4,10,0,5,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
809,10,30,5,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN
810,10,22,2,NaN,NaN,NaN,NaN,8.0,3.0,NaN,NaN
811,10,20,4,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN
812,10,15,2,NaN,NaN,NaN,NaN,8.0,2.0,NaN,NaN
813,10,0,7,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

- contest_award, idea_contest, contest_participation 삭제

In [14]:
train_num = train.select_dtypes(include='number').drop(columns=['contest_award', 'idea_contest', 'contest_participation'])

KeyError: "['contest_participation'] not found in axis"