In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("C:\\Users\\solba\\dacon-project\\data\\raw\\train.csv")
test = pd.read_csv("C:\\Users\\solba\\dacon-project\\data\\raw\\test.csv")

**필요없는 열 삭제**

In [3]:
columns_to_drop = ['generation', 'contest_award', 'completed_semester', 'major_data',  
                   'incumbents_lecture_scale_reason', 'interested_company', 'contest_participation', 'idea_contest']
train = train.drop(columns=columns_to_drop)
test = test.drop(columns=columns_to_drop)

print(f"삭제 후 train shape: {train.shape}")

삭제 후 train shape: (748, 38)

In [4]:
train.columns

Index(['ID', 'school1', 'major type', 'major1_1', 'major1_2', 'job', 'class1',
       'class2', 'class3', 'class4', 're_registration', 'nationality',
       'inflow_route', 'whyBDA', 'what_to_gain', 'hope_for_group',
       'previous_class_3', 'previous_class_4', 'previous_class_5',
       'previous_class_6', 'previous_class_7', 'previous_class_8',
       'major_field', 'desired_career_path', 'project_type', 'time_input',
       'desired_job', 'certificate_acquisition', 'desired_certificate',
       'desired_job_except_data', 'incumbents_level', 'incumbents_lecture',
       'incumbents_company_level', 'incumbents_lecture_type',
       'incumbents_lecture_scale', 'expected_domain', 'onedayclass_topic',
       'completed'],
      dtype='object')

school1, job, nationality, certificate_acquistion,  - 4개

In [78]:
personal = train[['ID', 'school1', 'job', 'nationality', 'certificate_acquisition']]
personal_test = test[['ID', 'school1', 'job', 'nationality', 'certificate_acquisition']]
personal

            ID  school1  job nationality certificate_acquisition
0    TRAIN_000       22  대학생         내국인                 컴퓨터활용능력
1    TRAIN_001        1  대학생         내국인                      없음
2    TRAIN_002       27  대학생         내국인                    ADsP
3    TRAIN_003        1  대학생         내국인            SQLD, 정보처리기사
4    TRAIN_004       16  대학생         내국인                    ADsP
..         ...      ...  ...         ...                     ...
743  TRAIN_743       13  대학생         내국인        ADsP, 빅데이터 분석 기사
744  TRAIN_744       43  대학생         내국인              ADsP, SQLD
745  TRAIN_745       11  대학생         내국인                      없음
746  TRAIN_746       30  대학생         내국인                      없음
747  TRAIN_747       25  대학생         내국인                    ADsP

[748 rows x 5 columns]

In [6]:
personal['school1'].unique()

array([22,  1, 27, 16, 81, 20, 28, 40, 18,  5, 39, 74, 10, 31, 24, 54, 17,
       38, 11, 30, 65,  3, 34, 15, 26,  7,  0, 13, 47,  4, 44, 45, 72, 29,
        8, 63, 56, 32, 69, 80, 87, 21,  2, 57, 42, 59, 73,  6, 76, 35, 62,
       84, 58, 68, 48, 50, 70, 36, 83, 25, 55,  9, 79, 33, 64, 61, 75, 86,
       52, 82, 66, 91, 19, 60, 85, 77, 90, 89, 53, 46, 71, 23, 49, 14, 51,
       88, 41, 12, 78, 67, 37, 43])

-------------------------------------------------------------------------------------

're_registration', 'hope_for_group' , 'project_type', 'time_input' - 4개

In [7]:
personal['job'].unique()

array(['대학생', '직장인', '취준생', '대학원생'], dtype=object)

In [8]:
personal['nationality'].unique()

array(['내국인', nan, '외국인'], dtype=object)

In [9]:
personal['certificate_acquisition'].unique()

array(['컴퓨터활용능력', '없음', 'ADsP', 'SQLD, 정보처리기사', '구글 애널리스트',
       'SQLD, 구글 애널리스트', 'SQLD', 'ADsP, SQLD', '정보처리기사', '준비중: SQLD',
       '기타', '준비중: ADsP, SQLD', 'ADsP, 정보처리기사, 구글 애널리스트',
       'ADsP, SQLD, 구글 애널리스트', '태블로, 구글 애널리스트', 'ADsP, 빅데이터 분석 기사',
       '빅데이터 분석 기사', '준비중', 'ADsP, 구글 애널리스트', 'ADsP, 정보처리기사',
       'ADsP, SQLD, 빅데이터 분석 기사', 'ADsP, 정보처리기사, SQLD',
       '빅데이터 분석 기사, 정보처리기사', '태블로', 'AWS', 'ADsP, SQLD, 정보처리기사',
       'ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사'], dtype=object)

In [10]:
import pandas as pd

# ---------------------------------------------------------
# 1. School (학교) - dtype=int 추가하여 0/1로 변환
# ---------------------------------------------------------
school_dummies = pd.get_dummies(personal['school1'], prefix='school', prefix_sep='', dtype=int)
school_columns = [f'school{i}' for i in range(92)]
school_dummies = school_dummies.reindex(columns=school_columns, fill_value=0)

# ---------------------------------------------------------
# 2. Job (직업) - dtype=int 추가
# ---------------------------------------------------------
job_dummies = pd.get_dummies(personal['job'], dtype=int)

# ---------------------------------------------------------
# 3. Nationality (국적) - dtype=int 추가
# ---------------------------------------------------------
nation_dummies = pd.get_dummies(personal['nationality'], dtype=int)

# ---------------------------------------------------------
# 4. Certificate (자격증) - 기존 유지 (이미 0/1로 나옴)
# ---------------------------------------------------------
target_certs = [
    '컴퓨터활용능력', 'ADsP', 'SQLD', '정보처리기사', 
    '구글 애널리스트', '태블로', '빅데이터 분석 기사'
]

all_cert_dummies = personal['certificate_acquisition'].str.get_dummies(sep=', ')
cert_dummies = all_cert_dummies.reindex(columns=target_certs, fill_value=0)

# ---------------------------------------------------------
# 5. 최종 병합
# ---------------------------------------------------------
personal_information = pd.concat([
    personal[['ID']], 
    school_dummies, 
    job_dummies, 
    nation_dummies, 
    cert_dummies
], axis=1)

In [11]:
personal_information.head()

,ID,school0,school1,school2,school3,school4,school5,school6,school7,school8,...,취준생,내국인,외국인,컴퓨터활용능력,ADsP,SQLD,정보처리기사,구글 애널리스트,태블로,빅데이터 분석 기사
0,TRAIN_000,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
1,TRAIN_001,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,TRAIN_002,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,TRAIN_003,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
4,TRAIN_004,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

-------------------------------------------------------------------------------------

[major type, major1_1, major1_2, major_data, major_field] - 5개

In [80]:
major = train[['ID', 'major type', 'major1_1', 'major1_2', 'major_field']]
major_test = test[['ID', 'major type', 'major1_1', 'major1_2', 'major_field']]
major

,ID,major type,major1_1,major1_2,major_field
0,TRAIN_000,"복수 전공 ( 다중전공, 이중전공 포함 )",경제통상학,자연과학,"자연과학, 사회과학"
1,TRAIN_001,"복수 전공 ( 다중전공, 이중전공 포함 )",자연과학,IT(컴퓨터 공학 포함),사회과학
2,TRAIN_002,단일 전공,예체능,NaN,예체능
3,TRAIN_003,"복수 전공 ( 다중전공, 이중전공 포함 )",사회과학,IT(컴퓨터 공학 포함),법학
4,TRAIN_004,"복수 전공 ( 다중전공, 이중전공 포함 )",IT(컴퓨터 공학 포함),IT(컴퓨터 공학 포함),"IT (컴퓨터 공학 포함), 인문학"
...,...,...,...,...,...
743,TRAIN_743,"복수 전공 ( 다중전공, 이중전공 포함 )",자연과학,IT(컴퓨터 공학 포함),"IT (컴퓨터 공학 포함), 자연과학"
744,TRAIN_744,단일 전공,경영학,NaN,공학 (컴퓨터 공학 제외)
745,TRAIN_745,"복수 전공 ( 다중전공, 이중전공 포함 )",교육학,자연과학,"자연과학, 교육학"
746,TRAIN_746,"복수 전공 ( 다중전공, 이중전공 포함 )",IT(컴퓨터 공학 포함),NaN,"공학 (컴퓨터 공학 제외), 자연과학"
747,TRAIN_747,단일 전공,자연과학,NaN,자연과학

'복수 전공 ( 다중전공, 이중전공 포함 )', '단일 전공', '단일 전공공학 (컴퓨터 공학 제외)', '경제통상학', '자연과학', '예체능', '사회과학', 'IT(컴퓨터 공학 포함)', '경영학', '의약학', '교육학', '인문학', '법학', '기타'

In [13]:
major['major type'].unique()

array(['복수 전공 ( 다중전공, 이중전공 포함 )', '단일 전공', nan, '단일 전공공학 (컴퓨터 공학 제외)'],
      dtype=object)

In [14]:
major['major1_1'].unique()

array(['경제통상학', '자연과학', '예체능', '사회과학', 'IT(컴퓨터 공학 포함)', '경영학', '의약학',
       '교육학', nan, '인문학', '법학', '기타'], dtype=object)

In [15]:
major['major1_2'].unique()

array(['자연과학', 'IT(컴퓨터 공학 포함)', nan, '사회과학', '경영학', '경제통상학', '의약학', '기타',
       '인문학', '예체능', '교육학'], dtype=object)

In [16]:
major['major_field']

0                자연과학, 사회과학
1                      사회과학
2                       예체능
3                        법학
4       IT (컴퓨터 공학 포함), 인문학
               ...
743    IT (컴퓨터 공학 포함), 자연과학
744          공학 (컴퓨터 공학 제외)
745               자연과학, 교육학
746    공학 (컴퓨터 공학 제외), 자연과학
747                    자연과학
Name: major_field, Length: 748, dtype: object

In [17]:
import pandas as pd

# 1. 생성할 목표 칼럼 리스트 (요청하신 순서대로 정의)
target_columns = [
    '복수 전공 ( 다중전공, 이중전공 포함 )', 
    '단일 전공', 
    '단일 전공공학 (컴퓨터 공학 제외)', 
    '경제통상학', 
    '자연과학', 
    '예체능', 
    '사회과학', 
    'IT(컴퓨터 공학 포함)', 
    '경영학', 
    '의약학', 
    '교육학', 
    '인문학', 
    '법학', 
    '기타'
]

# 2. major_field 열은 '자연과학, 사회과학' 처럼 콤마로 구분되어 있으므로 미리 분리
#    (분리 후에는 해당 전공 이름의 칼럼이 생기고 값은 1이 됨)
field_dummies = major['major_field'].str.get_dummies(sep=', ')

# 3. 결과를 담을 DataFrame 생성 (ID 열 미리 포함)
major_information = pd.DataFrame()
major_information['ID'] = major['ID']

# 4. 루프를 돌면서 각 목표 칼럼에 해당하는 값이 데이터에 있는지 확인
for col in target_columns:
    # (1) major type 열에 해당 값이 있는지 확인
    cond1 = (major['major type'] == col)
    
    # (2) major1_1 열에 해당 값이 있는지 확인
    cond2 = (major['major1_1'] == col)
    
    # (3) major1_2 열에 해당 값이 있는지 확인
    cond3 = (major['major1_2'] == col)
    
    # (4) major_field (콤마로 분리한 것)에 해당 값이 있는지 확인
    if col in field_dummies.columns:
        cond4 = (field_dummies[col] == 1)
    else:
        cond4 = False # field_dummies에 해당 칼럼이 아예 없으면 False
        
    # 위 4가지 조건 중 하나라도 만족하면 1, 아니면 0 (OR 연산)
    # astype(int)를 사용하여 True/False를 1/0으로 변환
    major_information[col] = (cond1 | cond2 | cond3 | cond4).astype(int)

In [19]:
major_information.head()

,ID,"복수 전공 ( 다중전공, 이중전공 포함 )",단일 전공,단일 전공공학 (컴퓨터 공학 제외),경제통상학,자연과학,예체능,사회과학,IT(컴퓨터 공학 포함),경영학,의약학,교육학,인문학,법학,기타
0,TRAIN_000,1,0,0,1,1,0,1,0,0,0,0,0,0,0
1,TRAIN_001,1,0,0,0,1,0,1,1,0,0,0,0,0,0
2,TRAIN_002,0,1,0,0,0,1,0,0,0,0,0,0,0,0
3,TRAIN_003,1,0,0,0,0,0,1,1,0,0,0,0,1,0
4,TRAIN_004,1,0,0,0,0,0,0,1,0,0,0,1,0,0

-------------------------------------------------------------------------------------

class1, class2, class3, class4 - 4개

In [27]:
classs = train[['ID', 'class1', 'class2', 'class3', 'class4']]
classs

            ID  class1  class2  class3  class4
0    TRAIN_000       1     4.0     NaN     NaN
1    TRAIN_001       8     NaN     NaN     NaN
2    TRAIN_002       7     NaN     NaN     NaN
3    TRAIN_003       7     NaN     NaN     NaN
4    TRAIN_004       8     NaN     NaN     NaN
..         ...     ...     ...     ...     ...
743  TRAIN_743       7     NaN     NaN     NaN
744  TRAIN_744      12     NaN     NaN     NaN
745  TRAIN_745       2     NaN     NaN     NaN
746  TRAIN_746       5     NaN     NaN     NaN
747  TRAIN_747       4     NaN     NaN     NaN

[748 rows x 5 columns]

In [22]:
classs['class1'].unique()

array([ 1,  8,  7,  4,  2,  5, 13,  6, 12, 11])

In [23]:
classs['class2'].unique()

array([ 4., nan,  6.,  5.,  2.,  8., 13., 11., 12.,  7.])

In [24]:
classs['class3'].unique()

array([nan, 12.,  6.,  8.,  5., 13.])

In [25]:
classs['class4'].unique()

array([nan, 12.])

In [28]:
import pandas as pd

# 1. 목표로 하는 반 번호 리스트 (요청하신 순서대로)
target_nums = [1, 2, 4, 5, 6, 7, 8, 11, 12, 13]

# 2. 결과를 담을 DataFrame 생성 (ID 포함)
class_information = pd.DataFrame()
class_information['ID'] = classs['ID']

# 3. 데이터를 확인할 컬럼 목록 (class1 ~ class4)
cols_to_check = ['class1', 'class2', 'class3', 'class4']

# 4. 각 번호에 대해 루프를 돌며 새로운 열 생성
for num in target_nums:
    # 새로운 열 이름 생성 (예: '1반', '2반'...)
    col_name = f"{num}반"
    
    # (1) .eq(num): 데이터프레임 전체에서 num과 같은 값을 찾습니다 (4.0 == 4 로 자동 인식)
    # (2) .any(axis=1): 가로(행) 방향으로 하나라도 True가 있으면 True를 반환합니다.
    # (3) .astype(int): True/False를 1/0으로 변환합니다.
    class_information[col_name] = classs[cols_to_check].eq(num).any(axis=1).astype(int)

In [31]:
class_information.head(5)

          ID  1반  2반  4반  5반  6반  7반  8반  11반  12반  13반
0  TRAIN_000   1   0   1   0   0   0   0    0    0    0
1  TRAIN_001   0   0   0   0   0   0   1    0    0    0
2  TRAIN_002   0   0   0   0   0   1   0    0    0    0
3  TRAIN_003   0   0   0   0   0   1   0    0    0    0
4  TRAIN_004   0   0   0   0   0   0   1    0    0    0

-------------------------------------------------------------------------------------

previous_class_3, previous_class_4, previous_class_5, 'previous_class_6', 'previous_class_7', 'previous_class_8' - 6개

In [32]:
previous = train[['ID', 'previous_class_3', 'previous_class_4', 'previous_class_5', 'previous_class_6', 'previous_class_7', 'previous_class_8']]
previous

,ID,previous_class_3,previous_class_4,previous_class_5,previous_class_6,previous_class_7,previous_class_8
0,TRAIN_000,NaN,NaN,NaN,NaN,NaN,NaN
1,TRAIN_001,NaN,NaN,NaN,NaN,NaN,NaN
2,TRAIN_002,NaN,NaN,NaN,NaN,NaN,NaN
3,TRAIN_003,NaN,NaN,NaN,NaN,NaN,NaN
4,TRAIN_004,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
743,TRAIN_743,NaN,NaN,NaN,NaN,NaN,NaN
744,TRAIN_744,NaN,NaN,NaN,NaN,NaN,NaN
745,TRAIN_745,NaN,NaN,NaN,NaN,NaN,NaN
746,TRAIN_746,NaN,NaN,NaN,NaN,NaN,NaN
747,TRAIN_747,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
previous['previous_class_3'].unique()

array([nan, '해당없음', '0005 : 데이터 분석 입문반 (통계)', '0006 : 데이터 분석 전처리반(판다스)'],
      dtype=object)

In [34]:
previous['previous_class_4'].unique()

array([nan, '해당없음', '0005 : 데이터 분석 입문반 (통계)', '0009 : 데이터 분석 개념반',
       '0001 : 파이썬 문법 기초반'], dtype=object)

In [35]:
previous['previous_class_5'].unique()

array([nan, '해당없음', '0005 : 데이터 분석 입문반 (통계)', '0004 : 데이터 분석 입문반 (머신러닝)',
       '0006 : 데이터 분석 전처리반(판다스)', '0001 : 파이썬 문법 기초반'], dtype=object)

In [36]:
previous['previous_class_6'].unique()

array([nan, '해당없음', '0004 : 데이터 분석 입문반 (머신러닝)', '0001 : 파이썬 문법 기초반',
       '0006 : 데이터 분석 전처리반(판다스)', '0005 : 데이터 분석 입문반 (통계)',
       '0008 : 데이터 분석 모델링반 (ML1)', '0009 : 데이터 분석 개념반',
       '0001 : 파이썬 문법 기초반, 0003 : R문법 기초반',
       '0001 : 파이썬 문법 기초반, 0004 : 데이터 분석 입문반 (머신러닝)',
       '0007 : 데이터 분석 전처리 적용반'], dtype=object)

In [37]:
previous['previous_class_7'].unique()

array([nan, '해당없음', '0006 : 데이터 분석 전처리반(판다스)', '0002 : SQL 문법 기초반',
       '0001 : 파이썬 문법 기초반', '0005 : 데이터 분석 입문반 (통계)',
       '0004 : 데이터 분석 입문반 (머신러닝)', '0008 : 데이터 분석 모델링반 (ML1)',
       '해당없음, 0004 : 데이터 분석 입문반 (머신러닝)',
       '0001 : 파이썬 문법 기초반, 0002 : SQL 문법 기초반',
       '0001 : 파이썬 문법 기초반, 0009 : 데이터 분석 개념반', '0009 : 데이터 분석 개념반',
       '0002 : SQL 문법 기초반, 0004 : 데이터 분석 입문반 (머신러닝)'], dtype=object)

In [38]:
previous['previous_class_8'].unique()

array([nan, '0001 : 파이썬 문법 기초반', '0004 : 데이터 분석 입문반 (머신러닝)',
       '0002 : SQL 문법 기초반', '0007 : 데이터 분석 전처리 적용반',
       '0006 : 데이터 분석 전처리반(판다스)', '해당없음', '0005 : 데이터 분석 입문반 (통계)',
       '0002 : SQL 문법 기초반, 0006 : 데이터 분석 전처리반(판다스)',
       '0001 : 파이썬 문법 기초반, 0009 : 데이터 분석 개념반',
       '0002 : SQL 문법 기초반, 0005 : 데이터 분석 입문반 (통계)',
       '0008 : 데이터 분석 모델링반 (ML1)',
       '0004 : 데이터 분석 입문반 (머신러닝), 0005 : 데이터 분석 입문반 (통계)',
       '0005 : 데이터 분석 입문반 (통계), 0006 : 데이터 분석 전처리반(판다스)',
       '0001 : 파이썬 문법 기초반, 0004 : 데이터 분석 입문반 (머신러닝)',
       '0004 : 데이터 분석 입문반 (머신러닝), 0006 : 데이터 분석 전처리반(판다스)',
       '0001 : 파이썬 문법 기초반, 0002 : SQL 문법 기초반'], dtype=object)

In [39]:
import pandas as pd

# 1. 생성할 목표 강의 리스트 (요청하신 문자열 그대로 사용)
target_courses = [
    "0001 : 파이썬 문법 기초반",
    "0002 : SQL 문법 기초반",
    "0003 : R문법 기초반",
    "0004 : 데이터 분석 입문반 (머신러닝)",
    "0005 : 데이터 분석 입문반 (통계)",
    "0006 : 데이터 분석 전처리반(판다스)",
    "0007 : 데이터 분석 전처리 적용반",
    "0008 : 데이터 분석 모델링반 (ML1)",
    "0009 : 데이터 분석 개념반"
]

# 2. 결과를 담을 DataFrame 생성 (ID 포함)
previous_information = pd.DataFrame()
previous_information['ID'] = previous['ID']

# 3. 탐색할 데이터 컬럼 지정 (ID를 제외한 나머지 모든 컬럼)
cols_to_check = [col for col in previous.columns if col != 'ID']

# 4. 문자열 검색을 위해 NaN 값을 빈 문자열('')로 임시 변환
temp_df = previous[cols_to_check].fillna('')

# 5. 각 강의에 대해 루프를 돌며 1/0 컬럼 생성
for course in target_courses:
    # (1) 모든 컬럼을 돌면서 해당 강의 문자열이 포함되어 있는지 확인 (regex=False로 괄호 등 특수문자 그대로 인식)
    # (2) 하나라도 포함되어 있으면 True가 되도록 OR(|) 연산 누적
    has_course = pd.Series([False] * len(previous), index=previous.index)
    for col in cols_to_check:
        has_course |= temp_df[col].str.contains(course, regex=False)
    
    # (3) True/False를 1/0으로 변환하여 할당
    previous_information[course] = has_course.astype(int)

In [42]:
previous_information.head(5)

,ID,0001 : 파이썬 문법 기초반,0002 : SQL 문법 기초반,0003 : R문법 기초반,0004 : 데이터 분석 입문반 (머신러닝),0005 : 데이터 분석 입문반 (통계),0006 : 데이터 분석 전처리반(판다스),0007 : 데이터 분석 전처리 적용반,0008 : 데이터 분석 모델링반 (ML1),0009 : 데이터 분석 개념반
0,TRAIN_000,0,0,0,0,0,0,0,0,0
1,TRAIN_001,0,0,0,0,0,0,0,0,0
2,TRAIN_002,0,0,0,0,0,0,0,0,0
3,TRAIN_003,0,0,0,0,0,0,0,0,0
4,TRAIN_004,0,0,0,0,0,0,0,0,0

-------------------------------------------------------------------------------------

inflow_route, whyBDA, what_to_gain, 'expected_domain', 'onedayclass_topic' - 5개

In [43]:
why = train[['ID', 'inflow_route', 'whyBDA', 'what_to_gain', 'expected_domain', 'onedayclass_topic']]
why

,ID,inflow_route,whyBDA,what_to_gain,expected_domain,onedayclass_topic
0,TRAIN_000,에브리타임,"큰 규모인 만큼, 커리큘럼이나 운영 등 관리가 잘 될것 같아서",프로젝트 경험,"M. 전문, 과학 및 기술 서비스업","Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신..."
1,TRAIN_001,지인 추천,"큰 규모인 만큼, 커리큘럼이나 운영 등 관리가 잘 될것 같아서",데이터 분석 역량,"J. 정보통신업, O. 공공 행정, 국방 및 사회보장 행정",머신러닝 / 딥러닝 응용
2,TRAIN_002,인스타그램,"BDA 학회원만의 혜택을 누리고 싶어서(현직자 강연, 잡 페스티벌, 기업연계 공모전 등)",공모전 경험,"C. 제조업, K. 금융 및 보험업, R. 예술, 스포츠 및 여가관련 서비스업","머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링"
3,TRAIN_003,에브리타임,혼자 공부하기 어려워서,프로젝트 경험,"J. 정보통신업, K. 금융 및 보험업",머신러닝 / 딥러닝 응용
4,TRAIN_004,지인 추천,"큰 규모인 만큼, 커리큘럼이나 운영 등 관리가 잘 될것 같아서",공모전 경험,"K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및...","머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링"
...,...,...,...,...,...,...
743,TRAIN_743,에브리타임,혼자 공부하기 어려워서,공모전 경험,K. 금융 및 보험업,"데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용..."
744,TRAIN_744,"대외활동 사이트(링커리어, 캠퍼스픽, 캠퍼즈, 위비티 등)","BDA 학회원만의 혜택을 누리고 싶어서(현직자 강연, 잡 페스티벌, 기업연계 공모전 등)",데이터 분석 역량,"J. 정보통신업, M. 전문, 과학 및 기술 서비스업, P. 교육 서비스업","Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신..."
745,TRAIN_745,에브리타임,시간적으로 부담이 없어서,프로젝트 경험,"M. 전문, 과학 및 기술 서비스업",머신러닝 / 딥러닝 응용
746,TRAIN_746,인스타그램,혼자 공부하기 어려워서,데이터 분석 역량,"M. 전문, 과학 및 기술 서비스업","Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등)"
747,TRAIN_747,에브리타임,혼자 공부하기 어려워서,데이터 분석 역량,J. 정보통신업,머신러닝 / 딥러닝 응용

In [44]:
why['inflow_route'].unique()

array(['에브리타임', '지인 추천', '인스타그램', '기존 학회원 또는 운영진',
       '대외활동 사이트(링커리어, 캠퍼스픽, 캠퍼즈, 위비티 등)', '기타', '교내 플랫폼 (에브리타임 X)',
       '인터넷 검색'], dtype=object)

In [45]:
why['whyBDA'].unique()

array(['큰 규모인 만큼, 커리큘럼이나 운영 등 관리가 잘 될것 같아서',
       'BDA 학회원만의 혜택을 누리고 싶어서(현직자 강연, 잡 페스티벌, 기업연계 공모전 등)',
       '혼자 공부하기 어려워서', '이전 기수에 매우 만족해서', '시간적으로 부담이 없어서',
       '학회 가입 시 코딩 테스트, 면접 등을 보지 않아서', '현직자의 강의를 듣고 싶어서'], dtype=object)

In [46]:
why['what_to_gain'].unique()

array(['프로젝트 경험', '데이터 분석 역량', '공모전 경험', '인적 네트워크',
       '기초적인 python, sql 지식 숙지', '위 항목 전체', '공모전과 프로젝트',
       '사실 한가지를 고르기 어렵습니다..ㅠㅠ 학회를 통해 위의 4가지와 협업에 계신 전문가님들에게 유익한 정보를 얻고 소중한 경험을 하고 싶습니다.',
       '분석 역량, 공모전 경험, 인적 네트워크'], dtype=object)

In [49]:
why['expected_domain'].unique()

array(['M. 전문, 과학 및 기술 서비스업', 'J. 정보통신업, O. 공공 행정, 국방 및 사회보장 행정',
       'C. 제조업, K. 금융 및 보험업, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, K. 금융 및 보험업',
       'K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'K. 금융 및 보험업', 'J. 정보통신업, K. 금융 및 보험업, P. 교육 서비스업, U. 국제 및 외국기관',
       'C. 제조업, J. 정보통신업, K. 금융 및 보험업', 'J. 정보통신업',
       'K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, N. 사업시설 관리, 사업 지원 및 임대 서비스업',
       'C. 제조업, O. 공공 행정, 국방 및 사회보장 행정', 'J. 정보통신업, M. 전문, 과학 및 기술 서비스업',
       'C. 제조업', 'M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'C. 제조업, J. 정보통신업, K. 금융 및 보험업, U. 국제 및 외국기관',
       'K. 금융 및 보험업, L. 부동산업', 'U. 국제 및 외국기관',
       'M. 전문, 과학 및 기술 서비스업, Q. 보건업 및 사회복지 서비스업, R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관',
       'M. 전문, 과학 및 기술 서비스업, P. 교육 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, L. 부동산업, M. 전문, 과학 및 기술 서비스업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, P. 교육 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'O. 공공 행정, 국방 및 사회보장 행정, Q. 보건업 및 사회복지 서비스업', 'G. 도매 및 소매업',
       'R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관', 'R. 예술, 스포츠 및 여가관련 서비스업',
       'G. 도매 및 소매업, K. 금융 및 보험업, P. 교육 서비스업',
       'N. 사업시설 관리, 사업 지원 및 임대 서비스업, R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관',
       'K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업',
       'E. 수도, 하수 및 폐기물 처리, 원료 재생업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, Q. 보건업 및 사회복지 서비스업',
       'C. 제조업, H. 운수 및 창고업, M. 전문, 과학 및 기술 서비스업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, O. 공공 행정, 국방 및 사회보장 행정, P. 교육 서비스업, Q. 보건업 및 사회복지 서비스업, R. 예술, 스포츠 및 여가관련 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'Q. 보건업 및 사회복지 서비스업',
       'J. 정보통신업, R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관',
       'K. 금융 및 보험업, O. 공공 행정, 국방 및 사회보장 행정, Q. 보건업 및 사회복지 서비스업, U. 국제 및 외국기관',
       'C. 제조업, J. 정보통신업, O. 공공 행정, 국방 및 사회보장 행정, P. 교육 서비스업, Q. 보건업 및 사회복지 서비스업',
       'J. 정보통신업, Q. 보건업 및 사회복지 서비스업, R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관',
       'D. 전기, 가스, 증기 및 공기 조절 공급업, F. 건설업, H. 운수 및 창고업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, O. 공공 행정, 국방 및 사회보장 행정, P. 교육 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, L. 부동산업, U. 국제 및 외국기관',
       'I. 숙박 및 음식점업, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, Q. 보건업 및 사회복지 서비스업',
       'K. 금융 및 보험업, U. 국제 및 외국기관', 'G. 도매 및 소매업, H. 운수 및 창고업, J. 정보통신업',
       'L. 부동산업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'M. 전문, 과학 및 기술 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업, U. 국제 및 외국기관',
       'J. 정보통신업, M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정, U. 국제 및 외국기관',
       'S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'G. 도매 및 소매업, K. 금융 및 보험업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정, P. 교육 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'O. 공공 행정, 국방 및 사회보장 행정, U. 국제 및 외국기관', 'P. 교육 서비스업',
       'F. 건설업, G. 도매 및 소매업, I. 숙박 및 음식점업, K. 금융 및 보험업',
       'C. 제조업, D. 전기, 가스, 증기 및 공기 조절 공급업, J. 정보통신업, M. 전문, 과학 및 기술 서비스업',
       'I. 숙박 및 음식점업',
       'G. 도매 및 소매업, J. 정보통신업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'M. 전문, 과학 및 기술 서비스업, Q. 보건업 및 사회복지 서비스업',
       'K. 금융 및 보험업, L. 부동산업, O. 공공 행정, 국방 및 사회보장 행정',
       'J. 정보통신업, O. 공공 행정, 국방 및 사회보장 행정, S. 협회 및 단체, 수리 및 기타 개인 서비스업, U. 국제 및 외국기관',
       'C. 제조업, T. 가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동',
       'M. 전문, 과학 및 기술 서비스업, U. 국제 및 외국기관',
       'C. 제조업, G. 도매 및 소매업, J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, P. 교육 서비스업, Q. 보건업 및 사회복지 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'C. 제조업, D. 전기, 가스, 증기 및 공기 조절 공급업, F. 건설업, K. 금융 및 보험업, U. 국제 및 외국기관',
       'M. 전문, 과학 및 기술 서비스업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, R. 예술, 스포츠 및 여가관련 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'C. 제조업, K. 금융 및 보험업',
       'G. 도매 및 소매업, K. 금융 및 보험업, Q. 보건업 및 사회복지 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, U. 국제 및 외국기관', 'K. 금융 및 보험업, Q. 보건업 및 사회복지 서비스업',
       'K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, U. 국제 및 외국기관',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'M. 전문, 과학 및 기술 서비스업, Q. 보건업 및 사회복지 서비스업, U. 국제 및 외국기관',
       'J. 정보통신업, M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정',
       'C. 제조업, I. 숙박 및 음식점업, J. 정보통신업, P. 교육 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'Q. 보건업 및 사회복지 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, O. 공공 행정, 국방 및 사회보장 행정',
       'K. 금융 및 보험업, O. 공공 행정, 국방 및 사회보장 행정',
       'K. 금융 및 보험업, O. 공공 행정, 국방 및 사회보장 행정, U. 국제 및 외국기관',
       'M. 전문, 과학 및 기술 서비스업, P. 교육 서비스업, Q. 보건업 및 사회복지 서비스업',
       'E. 수도, 하수 및 폐기물 처리, 원료 재생업, U. 국제 및 외국기관',
       'O. 공공 행정, 국방 및 사회보장 행정, R. 예술, 스포츠 및 여가관련 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업, U. 국제 및 외국기관',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업',
       'C. 제조업, J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, U. 국제 및 외국기관',
       'M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정',
       'I. 숙박 및 음식점업, J. 정보통신업, O. 공공 행정, 국방 및 사회보장 행정',
       'K. 금융 및 보험업, R. 예술, 스포츠 및 여가관련 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업, U. 국제 및 외국기관',
       'O. 공공 행정, 국방 및 사회보장 행정', 'G. 도매 및 소매업, R. 예술, 스포츠 및 여가관련 서비스업',
       'M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관',
       'J. 정보통신업, R. 예술, 스포츠 및 여가관련 서비스업', 'G. 도매 및 소매업, K. 금융 및 보험업',
       'J. 정보통신업, M. 전문, 과학 및 기술 서비스업, P. 교육 서비스업', 'L. 부동산업, P. 교육 서비스업',
       'M. 전문, 과학 및 기술 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'T. 가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동',
       'K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및 여가관련 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'J. 정보통신업, P. 교육 서비스업', 'I. 숙박 및 음식점업, U. 국제 및 외국기관',
       'M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정, P. 교육 서비스업, R. 예술, 스포츠 및 여가관련 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'E. 수도, 하수 및 폐기물 처리, 원료 재생업, F. 건설업',
       'H. 운수 및 창고업, M. 전문, 과학 및 기술 서비스업',
       'K. 금융 및 보험업, P. 교육 서비스업, U. 국제 및 외국기관',
       'O. 공공 행정, 국방 및 사회보장 행정, Q. 보건업 및 사회복지 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업, U. 국제 및 외국기관',
       'D. 전기, 가스, 증기 및 공기 조절 공급업, M. 전문, 과학 및 기술 서비스업',
       'O. 공공 행정, 국방 및 사회보장 행정, R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관',
       'J. 정보통신업, K. 금융 및 보험업, P. 교육 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, U. 국제 및 외국기관',
       'J. 정보통신업, M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'C. 제조업, J. 정보통신업, K. 금융 및 보험업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, O. 공공 행정, 국방 및 사회보장 행정, R. 예술, 스포츠 및 여가관련 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업, U. 국제 및 외국기관',
       'H. 운수 및 창고업',
       'J. 정보통신업, K. 금융 및 보험업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, O. 공공 행정, 국방 및 사회보장 행정, U. 국제 및 외국기관',
       'J. 정보통신업, M. 전문, 과학 및 기술 서비스업, U. 국제 및 외국기관',
       'J. 정보통신업, K. 금융 및 보험업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, U. 국제 및 외국기관',
       'N. 사업시설 관리, 사업 지원 및 임대 서비스업',
       'K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, P. 교육 서비스업, U. 국제 및 외국기관',
       'K. 금융 및 보험업, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, P. 교육 서비스업',
       'G. 도매 및 소매업, H. 운수 및 창고업',
       'A. 농업, 임업 및 어업, M. 전문, 과학 및 기술 서비스업, U. 국제 및 외국기관',
       'J. 정보통신업, M. 전문, 과학 및 기술 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, O. 공공 행정, 국방 및 사회보장 행정, P. 교육 서비스업',
       'C. 제조업, D. 전기, 가스, 증기 및 공기 조절 공급업, G. 도매 및 소매업, J. 정보통신업, M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, L. 부동산업', 'G. 도매 및 소매업, K. 금융 및 보험업, U. 국제 및 외국기관',
       'A. 농업, 임업 및 어업', 'C. 제조업, G. 도매 및 소매업',
       'G. 도매 및 소매업, K. 금융 및 보험업, O. 공공 행정, 국방 및 사회보장 행정, U. 국제 및 외국기관',
       'F. 건설업, G. 도매 및 소매업, U. 국제 및 외국기관', 'H. 운수 및 창고업, K. 금융 및 보험업',
       'P. 교육 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'I. 숙박 및 음식점업, R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관',
       'J. 정보통신업, P. 교육 서비스업, R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관',
       'K. 금융 및 보험업, P. 교육 서비스업', 'G. 도매 및 소매업, J. 정보통신업',
       'G. 도매 및 소매업, J. 정보통신업, M. 전문, 과학 및 기술 서비스업', 'F. 건설업',
       'O. 공공 행정, 국방 및 사회보장 행정, R. 예술, 스포츠 및 여가관련 서비스업',
       'G. 도매 및 소매업, I. 숙박 및 음식점업, J. 정보통신업, K. 금융 및 보험업',
       'R. 예술, 스포츠 및 여가관련 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'K. 금융 및 보험업, N. 사업시설 관리, 사업 지원 및 임대 서비스업',
       'C. 제조업, G. 도매 및 소매업, I. 숙박 및 음식점업, J. 정보통신업, K. 금융 및 보험업, O. 공공 행정, 국방 및 사회보장 행정, P. 교육 서비스업, Q. 보건업 및 사회복지 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'D. 전기, 가스, 증기 및 공기 조절 공급업',
       'M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정, U. 국제 및 외국기관',
       'H. 운수 및 창고업, J. 정보통신업, M. 전문, 과학 및 기술 서비스업',
       'K. 금융 및 보험업, L. 부동산업, M. 전문, 과학 및 기술 서비스업, Q. 보건업 및 사회복지 서비스업',
       'J. 정보통신업, P. 교육 서비스업, R. 예술, 스포츠 및 여가관련 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'C. 제조업, G. 도매 및 소매업, H. 운수 및 창고업, J. 정보통신업, K. 금융 및 보험업, Q. 보건업 및 사회복지 서비스업',
       'K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정',
       'C. 제조업, M. 전문, 과학 및 기술 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정',
       'G. 도매 및 소매업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'G. 도매 및 소매업, P. 교육 서비스업', 'E. 수도, 하수 및 폐기물 처리, 원료 재생업',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, P. 교육 서비스업',
       'K. 금융 및 보험업, R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관',
       'K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, O. 공공 행정, 국방 및 사회보장 행정, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, O. 공공 행정, 국방 및 사회보장 행정, R. 예술, 스포츠 및 여가관련 서비스업',
       'C. 제조업, H. 운수 및 창고업, M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'I. 숙박 및 음식점업, J. 정보통신업',
       'G. 도매 및 소매업, I. 숙박 및 음식점업, Q. 보건업 및 사회복지 서비스업, R. 예술, 스포츠 및 여가관련 서비스업',
       'J. 정보통신업, O. 공공 행정, 국방 및 사회보장 행정, U. 국제 및 외국기관',
       'K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, O. 공공 행정, 국방 및 사회보장 행정',
       'G. 도매 및 소매업, H. 운수 및 창고업, M. 전문, 과학 및 기술 서비스업',
       'C. 제조업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정, R. 예술, 스포츠 및 여가관련 서비스업',
       'C. 제조업, K. 금융 및 보험업, R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관',
       'F. 건설업, J. 정보통신업',
       'J. 정보통신업, K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정, U. 국제 및 외국기관',
       'C. 제조업, H. 운수 및 창고업, O. 공공 행정, 국방 및 사회보장 행정',
       'K. 금융 및 보험업, N. 사업시설 관리, 사업 지원 및 임대 서비스업, O. 공공 행정, 국방 및 사회보장 행정, S. 협회 및 단체, 수리 및 기타 개인 서비스업',
       'P. 교육 서비스업, Q. 보건업 및 사회복지 서비스업, R. 예술, 스포츠 및 여가관련 서비스업'],
      dtype=object)

In [48]:
why['onedayclass_topic'].unique()

array(['Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, SQL 응용',
       '머신러닝 / 딥러닝 응용', '머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링', 'Python 응용',
       'Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등)',
       'Python 응용, SQL 응용, 웹 크롤링',
       'Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용',
       'SQL 응용', '데이터 시각화 (Matplotlib, Seaborn 등), 웹 크롤링',
       '머신러닝 / 딥러닝 응용, SQL 응용',
       'Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링',
       'Python 응용, 머신러닝 / 딥러닝 응용', 'Python 응용, SQL 응용',
       '데이터 시각화 (Matplotlib, Seaborn 등)', '웹 크롤링',
       'Python 응용, 머신러닝 / 딥러닝 응용, SQL 응용',
       'Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 웹 크롤링',
       '데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, SQL 응용',
       '데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, 웹 크롤링',
       'SQL 응용, 웹 크롤링', '데이터 시각화 (Matplotlib, Seaborn 등), SQL 응용',
       '데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용',
       'Python 응용, 금융데이터',
       'Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, 웹 크롤링',
       'Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), SQL 응용, 웹 크롤링',
       '머신러닝 / 딥러닝 응용, 웹 크롤링',
       '데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링',
       '데이터 시각화 (Matplotlib, Seaborn 등), SQL 응용, 웹 크롤링',
       'Python 응용, 머신러닝 / 딥러닝 응용, 웹 크롤링',
       'Python 응용, 머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링, ',
       'Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), SQL 응용',
       '머신러닝 / 딥러닝 응용, 금융공학',
       'Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링, CNN, RNN과 같이 심화된 내용으로 시야를  넓히고 싶습니다. 또는 chatgpt 활용, powebi 같은 학교 수업에서 듣지 못하는 수업을 듣고 싶습니다',
       '데이터 시각화 (Matplotlib, Seaborn 등), 태블로 학습',
       'Python 응용, 머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링', 'SQL 응용, 구글 애널리틱스',
       '데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, 웹 크롤링, 태블로, Power Bi 강연',
       '데이터 시각화 (Matplotlib, Seaborn 등), SQL 응용, 웹 크롤링, 테블로',
       'Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 데이터 엔지니어링(파이프라인설계), 포트폴리오 A to Z, 공모전 수상 tip ',
       '머신러닝 / 딥러닝 응용, SQL 응용, 태블로,파워비아이 ', 'Python 응용, 웹 크롤링'],
      dtype=object)

In [51]:
import pandas as pd

# 1. 결과를 담을 DataFrame 생성 (ID 포함)
why_encoded = pd.DataFrame()
why_encoded['ID'] = why['ID']

# 문자열 검색을 위해 NaN을 빈 문자열로 처리
why_filled = why.fillna('')

# ---------------------------------------------------------
# Group 1. 유입 경로 (inflow_route)
# ---------------------------------------------------------
inflow_cols = [
    '에브리타임', 
    '지인 추천', 
    '인스타그램', 
    '기존 학회원 또는 운영진',
    '대외활동 사이트(링커리어, 캠퍼스픽, 캠퍼즈, 위비티 등)', 
    '교내 플랫폼 (에브리타임 X)', 
    '인터넷 검색'
]

for col in inflow_cols:
    # 텍스트가 포함되어 있으면 1, 아니면 0 (괄호 등 특수문자 그대로 인식하기 위해 regex=False)
    why_encoded[col] = why_filled['inflow_route'].str.contains(col, regex=False).astype(int)

# '유입기타'는 '기타'라는 값이 있을 때 1로 설정
why_encoded['유입기타'] = why_filled['inflow_route'].eq('기타').astype(int)


# ---------------------------------------------------------
# Group 2. 지원 동기 (whyBDA)
# ---------------------------------------------------------
why_bda_cols = [
    '큰 규모인 만큼, 커리큘럼이나 운영 등 관리가 잘 될것 같아서',
    'BDA 학회원만의 혜택을 누리고 싶어서(현직자 강연, 잡 페스티벌, 기업연계 공모전 등)',
    '혼자 공부하기 어려워서',
    '이전 기수에 매우 만족해서',
    '시간적으로 부담이 없어서',
    '학회 가입 시 코딩 테스트, 면접 등을 보지 않아서',
    '현직자의 강의를 듣고 싶어서'
]

for col in why_bda_cols:
    why_encoded[col] = why_filled['whyBDA'].str.contains(col, regex=False).astype(int)


# ---------------------------------------------------------
# Group 3. 얻어가고 싶은 것 (what_to_gain)
# ---------------------------------------------------------
# 1) 일반 항목
gain_cols = [
    '프로젝트 경험', 
    '공모전 경험', 
    '인적 네트워크', 
    '기초적인 python, sql 지식 숙지'
]
for col in gain_cols:
    why_encoded[col] = why_filled['what_to_gain'].str.contains(col, regex=False).astype(int)

# 2) 동의어 처리: 데이터 분석 역량 (= “분석 역량”)
# "데이터 분석 역량" 혹은 "분석 역량" 둘 중 하나라도 포함되면 1
cond_da = (why_filled['what_to_gain'].str.contains('데이터 분석 역량', regex=False) | 
           why_filled['what_to_gain'].str.contains('분석 역량', regex=False))
why_encoded['데이터 분석 역량'] = cond_da.astype(int)


# ---------------------------------------------------------
# Group 4. 희망 도메인 (expected_domain)
# ---------------------------------------------------------
domain_cols = [
    'A. 농업, 임업 및 어업', 'C. 제조업', 'D. 전기, 가스, 증기 및 공기 조절 공급업',
    'E. 수도, 하수 및 폐기물 처리, 원료 재생업', 'F. 건설업', 'G. 도매 및 소매업',
    'H. 운수 및 창고업', 'I. 숙박 및 음식점업', 'J. 정보통신업', 'K. 금융 및 보험업',
    'L. 부동산업', 'M. 전문, 과학 및 기술 서비스업', 'N. 사업시설 관리, 사업 지원 및 임대 서비스업',
    'O. 공공 행정, 국방 및 사회보장 행정', 'P. 교육 서비스업', 'Q. 보건업 및 사회복지 서비스업',
    'R. 예술, 스포츠 및 여가관련 서비스업', 'S. 협회 및 단체, 수리 및 기타 개인 서비스업',
    'T. 가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동', 'U. 국제 및 외국기관'
]

for col in domain_cols:
    why_encoded[col] = why_filled['expected_domain'].str.contains(col, regex=False).astype(int)


# ---------------------------------------------------------
# Group 5. 원데이 클래스 주제 (onedayclass_topic)
# ---------------------------------------------------------
oneday_cols = [
    'Python 응용', 'SQL 응용', '데이터 시각화 (Matplotlib, Seaborn 등)',
    '머신러닝 / 딥러닝 응용', '웹 크롤링', '금융데이터', '금융공학',
    '데이터 엔지니어링(파이프라인설계)', '포트폴리오 A to Z', '공모전 수상 tip',
    '구글 애널리틱스', 'ChatGPT 활용', 'CNN', 'RNN'
]
for col in oneday_cols:
    why_encoded[col] = why_filled['onedayclass_topic'].str.contains(col, regex=False).astype(int)

# 동의어 처리 1: 태블로 (표기 “테블로” 포함)
cond_tableau = (why_filled['onedayclass_topic'].str.contains('태블로', regex=False) | 
                why_filled['onedayclass_topic'].str.contains('테블로', regex=False))
why_encoded['태블로 (표기 “테블로” 포함)'] = cond_tableau.astype(int)

# 동의어 처리 2: Power BI (표기 “Power Bi”, “파워비아이”, “powebi” 포함)
cond_pbi = (why_filled['onedayclass_topic'].str.contains('Power BI', regex=False) | 
            why_filled['onedayclass_topic'].str.contains('Power Bi', regex=False) |
            why_filled['onedayclass_topic'].str.contains('파워비아이', regex=False) |
            why_filled['onedayclass_topic'].str.contains('powebi', regex=False))
why_encoded['Power BI (표기 “Power Bi”, “파워비아이”, “powebi” 포함)'] = cond_pbi.astype(int)

In [54]:
why_encoded.head(5)

,ID,에브리타임,지인 추천,인스타그램,기존 학회원 또는 운영진,"대외활동 사이트(링커리어, 캠퍼스픽, 캠퍼즈, 위비티 등)",교내 플랫폼 (에브리타임 X),인터넷 검색,유입기타,"큰 규모인 만큼, 커리큘럼이나 운영 등 관리가 잘 될것 같아서",...,금융공학,데이터 엔지니어링(파이프라인설계),포트폴리오 A to Z,공모전 수상 tip,구글 애널리틱스,ChatGPT 활용,CNN,RNN,태블로 (표기 “테블로” 포함),"Power BI (표기 “Power Bi”, “파워비아이”, “powebi” 포함)"
0,TRAIN_000,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,TRAIN_001,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,TRAIN_002,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,TRAIN_003,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,TRAIN_004,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

-------------------------------------------------------------------------------------

desired_career_path, desired_job, 'desired_certificate', 'desired_job_except_data' - 4개

In [50]:
desired = train[['ID', 'desired_career_path', 'desired_job', 'desired_certificate', 'desired_job_except_data']]
desired

,ID,desired_career_path,desired_job,desired_certificate,desired_job_except_data
0,TRAIN_000,대학원 진학,C. 데이터 사이언티스트,"ADsP, SQLD, 빅데이터 분석 기사, 태블로 관련 자격증, 구글 애널리스트",A. 금융 / 보험 직무
1,TRAIN_001,취업,"B. 데이터 분석가, C. 데이터 사이언티스트","ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사","D. 소프트웨어 개발자, F. PM / 서비스 기획자"
2,TRAIN_002,대학원 진학,"B. 데이터 분석가, C. 데이터 사이언티스트, I. 마케터","SQLD, 빅데이터 분석 기사, 정보처리기사","A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, H. 마케터 / 영업관리"
3,TRAIN_003,취업,"B. 데이터 분석가, C. 데이터 사이언티스트","ADsP, 빅데이터 분석 기사",A. 금융 / 보험 직무
4,TRAIN_004,취업,B. 데이터 분석가,"SQLD, 정보처리기사, 태블로 관련 자격증, 구글 애널리스트","A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, F. PM / 서비스..."
...,...,...,...,...,...
743,TRAIN_743,취업,B. 데이터 분석가,"SQLD, 정보처리기사","A. 금융 / 보험 직무, D. 소프트웨어 개발자"
744,TRAIN_744,취업,B. 데이터 분석가,아직 없음,"B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자"
745,TRAIN_745,대학원 진학,C. 데이터 사이언티스트,"ADsP, SQLD",A. 금융 / 보험 직무
746,TRAIN_746,취업,"B. 데이터 분석가, H. 자연과학계열 연구자","ADsP, 빅데이터 분석 기사","B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자, G. 자연과학계열..."
747,TRAIN_747,취업,B. 데이터 분석가,빅데이터 분석 기사,G. 자연과학계열 연구자

In [55]:
desired['desired_career_path'].unique()

array(['대학원 진학', '취업', '이직', '창업'], dtype=object)

In [56]:
desired['desired_job'].unique()

array(['C. 데이터 사이언티스트', 'B. 데이터 분석가, C. 데이터 사이언티스트',
       'B. 데이터 분석가, C. 데이터 사이언티스트, I. 마케터', 'B. 데이터 분석가',
       'B. 데이터 분석가, F. UI/UX 디자이너, G. PM/서비스 기획자, I. 마케터, J. MD',
       'A. 데이터 엔지니어, B. 데이터 분석가',
       'B. 데이터 분석가, C. 데이터 사이언티스트, I. 마케터, J. MD',
       'G. PM/서비스 기획자, I. 마케터', 'A. 데이터 엔지니어, B. 데이터 분석가, E. 소프트웨어 개발자',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가',
       'B. 데이터 분석가, G. PM/서비스 기획자, I. 마케터, J. MD',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, E. 소프트웨어 개발자, H. 자연과학계열 연구자',
       'I. 마케터, J. MD', 'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트',
       'D. 인공지능 전문가, G. PM/서비스 기획자', 'A. 데이터 엔지니어',
       'B. 데이터 분석가, G. PM/서비스 기획자, I. 마케터',
       'B. 데이터 분석가, G. PM/서비스 기획자, PO', 'B. 데이터 분석가, I. 마케터',
       'C. 데이터 사이언티스트, E. 소프트웨어 개발자',
       'B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가',
       'A. 데이터 엔지니어, C. 데이터 사이언티스트',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, H. 자연과학계열 연구자, I. 마케터',
       '금융공기업', 'E. 소프트웨어 개발자, ', 'B. 데이터 분석가, G. PM/서비스 기획자', 'I. 마케터',
       'ESG 경영/공시 직무', 'D. 인공지능 전문가',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, G. PM/서비스 기획자',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, E. 소프트웨어 개발자',
       'D. 인공지능 전문가, E. 소프트웨어 개발자, G. PM/서비스 기획자',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, E. 소프트웨어 개발자',
       'B. 데이터 분석가, F. UI/UX 디자이너', 'B. 데이터 분석가, H. 자연과학계열 연구자',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, E. 소프트웨어 개발자, 아직 뚜렷한 희망 직무를 정하지 못했습니다',
       'B. 데이터 분석가, F. UI/UX 디자이너, G. PM/서비스 기획자, I. 마케터, J. MD, RA',
       'C. 데이터 사이언티스트, D. 인공지능 전문가, E. 소프트웨어 개발자', '정보보안',
       'B. 데이터 분석가,  도시계획', 'H. 자연과학계열 연구자, I. 마케터, J. MD',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, H. 자연과학계열 연구자',
       'G. PM/서비스 기획자, ',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, F. UI/UX 디자이너',
       'B. 데이터 분석가, C. 데이터 사이언티스트, E. 소프트웨어 개발자', '생산/공정기술',
       'B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, E. 소프트웨어 개발자',
       '아직 없습니다..', 'E. 소프트웨어 개발자, 반도체 엔지니어',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, E. 소프트웨어 개발자, F. UI/UX 디자이너, H. 자연과학계열 연구자',
       '인사팀', 'B. 데이터 분석가, 채용 데이터 분석 및 HR 전문가',
       'B. 데이터 분석가, E. 소프트웨어 개발자, F. UI/UX 디자이너', '로봇설계',
       'B. 데이터 분석가, C. 데이터 사이언티스트, G. PM/서비스 기획자',
       'B. 데이터 분석가, C. 데이터 사이언티스트, H. 자연과학계열 연구자',
       'A. 데이터 엔지니어, D. 인공지능 전문가', 'H. 자연과학계열 연구자',
       'B. 데이터 분석가, G. PM/서비스 기획자, 컨설턴트',
       'B. 데이터 분석가, F. UI/UX 디자이너, G. PM/서비스 기획자', '반도체 공정설계',
       'A. 데이터 엔지니어, B. 데이터 분석가, E. 소프트웨어 개발자, F. UI/UX 디자이너, G. PM/서비스 기획자',
       'B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, F. UI/UX 디자이너, G. PM/서비스 기획자',
       '반도체 엔지니어',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, F. UI/UX 디자이너, G. PM/서비스 기획자',
       'A. 데이터 엔지니어, D. 인공지능 전문가, E. 소프트웨어 개발자', 'E. 소프트웨어 개발자',
       'A. 데이터 엔지니어, C. 데이터 사이언티스트, E. 소프트웨어 개발자, G. PM/서비스 기획자',
       'D. 인공지능 전문가, E. 소프트웨어 개발자', 'H. 자연과학계열 연구자, 의공기사, 생체?세포계열 연구자',
       'A. 데이터 엔지니어, B. 데이터 분석가, 국제회의기획자',
       'A. 데이터 엔지니어, B. 데이터 분석가, G. PM/서비스 기획자',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, G. PM/서비스 기획자, I. 마케터',
       'C. 데이터 사이언티스트, H. 자연과학계열 연구자',
       'B. 데이터 분석가, D. 인공지능 전문가, E. 소프트웨어 개발자', 'C. 데이터 사이언티스트, I. 마케터',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, H. 자연과학계열 연구자', 'J. MD',
       'DX(디지털 트랜스포메이션)직무 희망',
       'B. 데이터 분석가, D. 인공지능 전문가, E. 소프트웨어 개발자, G. PM/서비스 기획자',
       'C. 데이터 사이언티스트, D. 인공지능 전문가', 'I. 마케터, ',
       'B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, H. 자연과학계열 연구자',
       'E. 소프트웨어 개발자, F. UI/UX 디자이너',
       'A. 데이터 엔지니어, B. 데이터 분석가, D. 인공지능 전문가, H. 자연과학계열 연구자', '없음',
       '클라우드', '금융관리  ',
       'B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, G. PM/서비스 기획자',
       'B. 데이터 분석가, C. 데이터 사이언티스트, G. PM/서비스 기획자, I. 마케터',
       'G. PM/서비스 기획자', 'B. 데이터 분석가, E. 소프트웨어 개발자, G. PM/서비스 기획자', '미정',
       'B. 데이터 분석가, I. 마케터, J. MD',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, E. 소프트웨어 개발자, G. PM/서비스 기획자',
       'SCM관련 직무', 'I. 마케터, 아직 제대로 알지 못해 학회 활동을 통해 진로 직업에 자세히 대해 배우고 싶다.',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, ',
       'A. 데이터 엔지니어, 반도체 엔지니어', '생산 / 품질 엔지니어', '반도체 품질 관리', '외교관',
       'A. 데이터 엔지니어, E. 소프트웨어 개발자', '화학공장 생산관리 엔지니어',
       'A. 데이터 엔지니어, B. 데이터 분석가, E. 소프트웨어 개발자, F. UI/UX 디자이너', 'SCM',
       'B. 데이터 분석가, C. 데이터 사이언티스트, 경영직무', 'B. 데이터 분석가, E. 소프트웨어 개발자',
       'B. 데이터 분석가, C. 데이터 사이언티스트, I. 마케터, 경영컨설턴트',
       'A. 데이터 엔지니어, D. 인공지능 전문가, H. 자연과학계열 연구자', '반도체 공정', '보험계리사',
       'A. 데이터 엔지니어, B. 데이터 분석가, J. MD', 'F. UI/UX 디자이너, G. PM/서비스 기획자',
       '생산관리/생산기술', 'HRM HRD', 'HR 매니저', '아직 모르겠음',
       'B. 데이터 분석가, D. 인공지능 전문가', 'B. 데이터 분석가, F. UI/UX 디자이너, I. 마케터',
       '생산관리', 'C. 데이터 사이언티스트, I. 마케터, J. MD',
       'B. 데이터 분석가, C. 데이터 사이언티스트, G. PM/서비스 기획자, ', '회계 직무',
       'B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, 연구원/보안분야연구원',
       'C. 데이터 사이언티스트, D. 인공지능 전문가, G. PM/서비스 기획자, I. 마케터',
       'B. 데이터 분석가, G. PM/서비스 기획자, J. MD', '산림빅데이터 전문가',
       'C. 데이터 사이언티스트, G. PM/서비스 기획자', '물류/SCM', '반도체',
       'B. 데이터 분석가, F. UI/UX 디자이너, G. PM/서비스 기획자, J. MD',
       'B. 데이터 분석가, E. 소프트웨어 개발자, H. 자연과학계열 연구자',
       'A. 데이터 엔지니어, C. 데이터 사이언티스트, D. 인공지능 전문가, E. 소프트웨어 개발자',
       'I. 마케터, 컨설턴트', '품질관리', 'A. 데이터 엔지니어, C. 데이터 사이언티스트, D. 인공지능 전문가',
       '전력 분석관', '글로벌 전략', 'B. 데이터 분석가, 영업',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, G. PM/서비스 기획자',
       '품질,생산', 'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, I. 마케터',
       '아직 결정하지 못함', 'B. 데이터 분석가, J. MD, ',
       'F. UI/UX 디자이너, G. PM/서비스 기획자, UX 리서처', '이차전지 엔지니어',
       'B. 데이터 분석가, C. 데이터 사이언티스트, F. UI/UX 디자이너, G. PM/서비스 기획자, I. 마케터',
       '상품개발/계리', '생산기술 엔지니어 /공정 기술엔지니어',
       'B. 데이터 분석가, D. 인공지능 전문가, I. 마케터', '금융',
       'F. UI/UX 디자이너, G. PM/서비스 기획자, I. 마케터',
       '반도체(평가 및 분석, 수율향상, 소자개발 및 불량분석 등)',
       'A. 데이터 엔지니어, C. 데이터 사이언티스트, E. 소프트웨어 개발자',
       'A. 데이터 엔지니어, B. 데이터 분석가, D. 인공지능 전문가', 'Hr',
       'B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가, I. 마케터',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, E. 소프트웨어 개발자, F. UI/UX 디자이너',
       '반도체 공정기술 엔지니어', '품질', 'B. 데이터 분석가, 공간정보 관련 직무 ',
       'A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, E. 소프트웨어 개발자, G. PM/서비스 기획자',
       '소재 엔지니어', 'G. PM/서비스 기획자, H. 자연과학계열 연구자', 'E. 소프트웨어 개발자, 스마트로지스틱',
       'D. 인공지능 전문가, J. MD', '계리사', 'I. 마케터, 전략기획', 'B. 데이터 분석가, 픔질관리',
       'A. 데이터 엔지니어, B. 데이터 분석가, D. 인공지능 전문가, 토목',
       'A. 데이터 엔지니어, C. 데이터 사이언티스트, D. 인공지능 전문가, H. 자연과학계열 연구자',
       'HR 애널리틱스', 'G. PM/서비스 기획자, I. 마케터, J. MD'], dtype=object)

In [57]:
desired['desired_certificate'].unique()

array(['ADsP, SQLD, 빅데이터 분석 기사, 태블로 관련 자격증, 구글 애널리스트',
       'ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사', 'SQLD, 빅데이터 분석 기사, 정보처리기사',
       'ADsP, 빅데이터 분석 기사', 'SQLD, 정보처리기사, 태블로 관련 자격증, 구글 애널리스트',
       'ADsP, SQLD, 빅데이터 분석 기사', 'ADsP, SQLD',
       'ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사, 클라우드 관련 자격증',
       '빅데이터 분석 기사, 정보처리기사', '빅데이터 분석 기사',
       'ADsP, 빅데이터 분석 기사, 정보처리기사, 태블로 관련 자격증', 'ADsP, 태블로 관련 자격증',
       'SQLD, 빅데이터 분석 기사, 정보처리기사, 태블로 관련 자격증, 구글 애널리스트',
       'ADsP, 빅데이터 분석 기사, 정보처리기사', '정보처리기사', 'SQLD, 정보처리기사', 'ADsP',
       'SQLD, 빅데이터 분석 기사, 정보처리기사, 사회조사분석사, sqlp 등', 'ADsP, 정보처리기사',
       '빅데이터 분석 기사, 정보처리기사, 구글 애널리스트',
       'ADsP, 빅데이터 분석 기사, 태블로 관련 자격증, 구글 애널리스트',
       'SQLD, 빅데이터 분석 기사, 태블로 관련 자격증', '태블로 관련 자격증', 'SQLD',
       '빅데이터 분석 기사, 태블로 관련 자격증', 'SQLD, 빅데이터 분석 기사', '딱히 없음',
       'SQLD, 빅데이터 분석 기사, 구글 애널리스트', 'ADsP, SQLD, 빅데이터 분석 기사, 구글 애널리스트',
       'ADsP, SQLD, 구글 애널리스트',
       'ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사, 태블로 관련 자격증, 구글 애널리스트', '.',
       'ADsP, SQLD, 태블로 관련 자격증, 구글 애널리스트', 'ADsP, 사회조사분석사2급',
       'ADsP, 구글 애널리스트, 사회조사분석사 2급',
       'ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사, 구글 애널리스트',
       '빅데이터 분석 기사, 정보처리기사, 태블로 관련 자격증, ADsP는 8/30 발표 기다리는중(시험 응시)',
       '빅데이터 분석 기사, ADP', '빅데이터 분석 기사, 구글 애널리스트',
       'ADsP, SQLD, 빅데이터 분석 기사, 태블로 관련 자격증',
       'ADsP, 빅데이터 분석 기사, 정보처리기사, SQLD는 합격여부를 기다리는중',
       '태블로 관련 자격증, 구글 애널리스트', '빅데이터 분석 기사, 태블로 관련 자격증, 구글 애널리스트',
       'SQLD, sqld 시험 응시는 완료. 발표아직안남', 'SQLD, 정보처리기사, 구글 애널리스트',
       'SQLD, 구글 애널리스트', 'ADsP, SQLD, 태블로 관련 자격증', 'ADsP, SQLD, 정보처리기사',
       'ADsP, 태블로 관련 자격증, 구글 애널리스트', '빅데이터 분석 기사, 정보처리기사, ADO, SQLP',
       'SQLD, 태블로 관련 자격증, 구글 애널리스트', '빅데이터 분석 기사, 정보처리기사, 태블로 관련 자격증',
       '자격증에는 크게 관심 없습니다', '빅데이터 분석 기사, 정보처리기사, 태블로 관련 자격증, 구글 애널리스트',
       'ADsP, 빅데이터 분석 기사, 태블로 관련 자격증', 'SQLD, Adp', 'SQLD, 태블로 관련 자격증',
       'ADsP, 정보처리기사, 구글 애널리스트', '정보처리기사, 태블로 관련 자격증, 구글 애널리스트',
       '빅데이터 분석 기사, AWS CLF', '정보처리기사, 구글 애널리스트', '구글 애널리스트',
       'SQLD, 빅데이터 분석 기사, 정보처리기사, 구글 애널리스트', 'x', 'ADsP, 6sigma',
       '아직 다 뭔지 잘 몰라서...', '태블로 관련 자격증, AICE', '없음', '오픽', '아직은 없음',
       '자격증은 아직 잘 모르겠음', 'ADsP, 빅데이터 분석 기사, 구글 애널리스트',
       'ADsP, 빅데이터 분석 기사, 정보처리기사, 구글 애널리스트', 'ADsP, 구글 애널리스트',
       'ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사, 태블로 관련 자격증, 구글 애널리스트, 사회조사분석사',
       'ADsP, 빅데이터 분석 기사, 품질경영',
       'ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사, 태블로 관련 자격증', '빅데이터 분석 기사, 품질경영기사',
       'SQLD, 정보처리기사, 태블로 관련 자격증', 'SQLD, 빅데이터 분석 기사, 정보처리기사, 태블로 관련 자격증',
       'SQLD, 빅데이터 분석 기사, 태블로 관련 자격증, 구글 애널리스트', '자격증은 취득 예정 없음',
       '빅데이터 분석 기사, 정보처리기사, SQLP', 'AI 자격증(AICE)', 'ADsP, ADP',
       '아직 계획없습니다.', '빅데이터 분석 기사, 태블로 관련 자격증, 경영정보시각화능',
       '빅데이터 분석 기사, 정보처리기사, Pccp',
       'SQLD, 빅데이터 분석 기사, 정보처리기사, 한능검, 네트워크관리사2급, 리눅스마스터, SQL 개발자',
       'ADsP, 빅데이터 분석 기사, 정보처리기사, 리눅스 마스터 2급', '아직 없음'], dtype=object)

In [58]:
desired['desired_job_except_data'].unique()

array(['A. 금융 / 보험 직무', 'D. 소프트웨어 개발자, F. PM / 서비스 기획자',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, E. UI/UX 디자이너, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'B. 기획 / 전략 / 경영 직무, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, C. MD, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, C. MD, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'D. 소프트웨어 개발자',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, H. 마케터 / 영업관리', 'G. 자연과학계열 연구자',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, C. MD', 'F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, C. MD, D. 소프트웨어 개발자, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자',
       'A. 금융 / 보험 직무, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자, G. 자연과학계열 연구자',
       'H. 마케터 / 영업관리', 'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자',
       'E. UI/UX 디자이너', 'A. 금융 / 보험 직무, H. 마케터 / 영업관리',
       'D. 소프트웨어 개발자, E. UI/UX 디자이너, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무', 'A. 금융 / 보험 직무, G. 자연과학계열 연구자',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, G. 자연과학계열 연구자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, D. 소프트웨어 개발자',
       'B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, G. 자연과학계열 연구자, H. 마케터 / 영업관리',
       'F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'B. 기획 / 전략 / 경영 직무, E. UI/UX 디자이너', 'C. MD, D. 소프트웨어 개발자',
       'C. MD, H. 마케터 / 영업관리', 'B. 기획 / 전략 / 경영 직무, G. 자연과학계열 연구자',
       'B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, E. UI/UX 디자이너',
       'B. 기획 / 전략 / 경영 직무, C. MD, E. UI/UX 디자이너, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, D. 소프트웨어 개발자, E. UI/UX 디자이너',
       'B. 기획 / 전략 / 경영 직무, E. UI/UX 디자이너, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, F. PM / 서비스 기획자',
       'D. 소프트웨어 개발자, G. 자연과학계열 연구자', 'D. 소프트웨어 개발자, E. UI/UX 디자이너',
       'B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, G. 자연과학계열 연구자',
       'A. 금융 / 보험 직무, E. UI/UX 디자이너, G. 자연과학계열 연구자',
       'E. UI/UX 디자이너, F. PM / 서비스 기획자', 'B. 기획 / 전략 / 경영 직무, C. MD',
       'D. 소프트웨어 개발자, E. UI/UX 디자이너, F. PM / 서비스 기획자, G. 자연과학계열 연구자',
       'A. 금융 / 보험 직무, F. PM / 서비스 기획자, G. 자연과학계열 연구자',
       'D. 소프트웨어 개발자, E. UI/UX 디자이너, G. 자연과학계열 연구자',
       'B. 기획 / 전략 / 경영 직무, C. MD, H. 마케터 / 영업관리',
       'G. 자연과학계열 연구자, H. 마케터 / 영업관리', 'A. 금융 / 보험 직무, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, C. MD, F. PM / 서비스 기획자',
       'F. PM / 서비스 기획자, G. 자연과학계열 연구자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, D. 소프트웨어 개발자, F. PM / 서비스 기획자',
       'E. UI/UX 디자이너, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, G. 자연과학계열 연구자',
       'A. 금융 / 보험 직무, E. UI/UX 디자이너, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자',
       'A. 금융 / 보험 직무, D. 소프트웨어 개발자, G. 자연과학계열 연구자',
       'F. PM / 서비스 기획자, G. 자연과학계열 연구자', 'E. UI/UX 디자이너, G. 자연과학계열 연구자',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, F. PM / 서비스 기획자, G. 자연과학계열 연구자',
       'A. 금융 / 보험 직무, C. MD, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, F. PM / 서비스 기획자, G. 자연과학계열 연구자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, E. UI/UX 디자이너, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, E. UI/UX 디자이너, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, C. MD, D. 소프트웨어 개발자, F. PM / 서비스 기획자',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, E. UI/UX 디자이너, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, F. PM / 서비스 기획자, G. 자연과학계열 연구자',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, E. UI/UX 디자이너',
       'A. 금융 / 보험 직무, C. MD, E. UI/UX 디자이너, H. 마케터 / 영업관리',
       'B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, E. UI/UX 디자이너, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, C. MD, E. UI/UX 디자이너, F. PM / 서비스 기획자',
       'E. UI/UX 디자이너, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, C. MD, H. 마케터 / 영업관리',
       'D. 소프트웨어 개발자, F. PM / 서비스 기획자, G. 자연과학계열 연구자',
       'B. 기획 / 전략 / 경영 직무, C. MD, D. 소프트웨어 개발자',
       'D. 소프트웨어 개발자, E. UI/UX 디자이너, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, C. MD',
       'B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'B. 기획 / 전략 / 경영 직무, C. MD, E. UI/UX 디자이너, H. 마케터 / 영업관리',
       'E. UI/UX 디자이너, F. PM / 서비스 기획자, G. 자연과학계열 연구자',
       'C. MD, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, C. MD, D. 소프트웨어 개발자, E. UI/UX 디자이너, F. PM / 서비스 기획자, G. 자연과학계열 연구자',
       'C. MD, E. UI/UX 디자이너, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, E. UI/UX 디자이너, H. 마케터 / 영업관리',
       'B. 기획 / 전략 / 경영 직무, G. 자연과학계열 연구자, H. 마케터 / 영업관리',
       'D. 소프트웨어 개발자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, C. MD, D. 소프트웨어 개발자, E. UI/UX 디자이너',
       'E. UI/UX 디자이너, G. 자연과학계열 연구자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, C. MD, D. 소프트웨어 개발자, E. UI/UX 디자이너, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자, G. 자연과학계열 연구자, H. 마케터 / 영업관리',
       'A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, D. 소프트웨어 개발자, H. 마케터 / 영업관리',
       'B. 기획 / 전략 / 경영 직무, C. MD, E. UI/UX 디자이너',
       'C. MD, F. PM / 서비스 기획자, H. 마케터 / 영업관리',
       'C. MD, D. 소프트웨어 개발자, F. PM / 서비스 기획자',
       'B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자, G. 자연과학계열 연구자'], dtype=object)

In [61]:
import pandas as pd
import re

# 1. 결과를 담을 DataFrame 생성 (ID 포함)
desired_encoded = pd.DataFrame()
desired_encoded['ID'] = desired['ID']

# 2. 검색 대상 데이터 통합 (모든 관련 텍스트 컬럼을 하나로 합쳐서 검색 효율성 및 커버리지 확보)
# NaN 값은 빈 문자열로 처리하여 에러 방지
cols_to_search = ['desired_career_path', 'desired_job', 'desired_certificate', 'desired_job_except_data']
combined_text = desired[cols_to_search].fillna('').apply(lambda x: ' '.join(x), axis=1)

# 3. 키워드 정의
# (리스트에 있는 값들 중, 코멘트가 달린 항목들은 실제 검색어(key)와 컬럼명(value)을 매핑하여 처리)
# 그 외 일반 항목들은 그대로 리스트로 처리

# 특별 처리가 필요한 항목들 (코멘트 제거 및 실제 데이터 값 매핑)
special_keywords = {
    '픔질관리 (오타로 보이는데 원문 그대로도 존재)': '픔질관리',
    'Hr (표기 변형)': 'Hr',
    '사회조사분석사2급 (표기 변형)': '사회조사분석사2급',
    '사회조사분석사 2급 (표기 변형)': '사회조사분석사 2급',
    'AICE / AI 자격증(AICE) (같은 의미로 보이지만 원문 둘 다 존재)': 'AICE|AI 자격증\(AICE\)' # 정규식 OR 연산 사용
}

# 일반 항목 리스트 (요청하신 순서 유지)
general_keywords = [
    '대학원 진학', '취업', '이직', '창업',
    'A. 데이터 엔지니어', 'B. 데이터 분석가', 'C. 데이터 사이언티스트', 'D. 인공지능 전문가',
    'E. 소프트웨어 개발자', 'F. UI/UX 디자이너', 'G. PM/서비스 기획자', 'H. 자연과학계열 연구자',
    'I. 마케터', 'J. MD', 'PO', 'RA', '컨설턴트', '경영컨설턴트', '국제회의기획자', '도시계획',
    '경영직무', '영업', '금융공기업', 'ESG 경영/공시 직무', '정보보안', '로봇설계',
    'SCM', '물류/SCM', 'SCM관련 직무', '생산관리', '생산/공정기술', '생산관리/생산기술',
    '생산 / 품질 엔지니어', '생산기술 엔지니어 /공정 기술엔지니어', '품질', '품질관리',
    '품질,생산', '반도체', '반도체 공정', '반도체 공정설계', '반도체 공정기술 엔지니어',
    '반도체 엔지니어', '반도체 품질 관리', '반도체(평가 및 분석, 수율향상, 소자개발 및 불량분석 등)',
    '소재 엔지니어', '화학공장 생산관리 엔지니어', '이차전지 엔지니어', '스마트로지스틱',
    '산림빅데이터 전문가', '전력 분석관', '글로벌 전략', '전략기획', '금융', '금융관리',
    '보험계리사', '계리사', '상품개발/계리', '회계 직무', '외교관', '인사팀', 'HRM HRD',
    'HR 매니저', 'HR 애널리틱스', '채용 데이터 분석 및 HR 전문가', '연구원/보안분야연구원',
    '의공기사', '생체?세포계열 연구자', '토목', '클라우드', 'DX(디지털 트랜스포메이션)직무 희망',
    'ADsP', 'ADP', 'SQLD', 'SQLP', '빅데이터 분석 기사', '정보처리기사',
    '태블로 관련 자격증', '구글 애널리스트', '클라우드 관련 자격증', 'AWS CLF',
    '사회조사분석사', '6sigma', '품질경영', '품질경영기사', '한능검',
    '네트워크관리사2급', '리눅스마스터', '리눅스 마스터 2급 (표기 변형)', 'Pccp', '오픽', 'ADO',
    'A. 금융 / 보험 직무', 'B. 기획 / 전략 / 경영 직무', 'C. MD', 'D. 소프트웨어 개발자',
    'E. UI/UX 디자이너', 'F. PM / 서비스 기획자', 'G. 자연과학계열 연구자', 'H. 마케터 / 영업관리'
]

# 4. 루프를 돌며 컬럼 생성

# (1) 일반 키워드 처리
for item in general_keywords:
    # 검색어와 컬럼명을 동일하게 설정 (단, 리스트에 '리눅스 마스터...' 등 코멘트가 있는 경우가 있어 예외 처리)
    search_term = item
    col_name = item
    
    # 예외: 리스트에 (표기 변형)이 포함된 경우 단순화 (위 리스트에 명시된 항목 제외하고도 있을 수 있음)
    if ' (표기 변형)' in item:
        search_term = item.replace(' (표기 변형)', '')
        col_name = search_term # 컬럼명도 깔끔하게
    
    # 컬럼 생성 (포함 여부 확인, regex=False로 괄호 등 특수문자 그대로 인식)
    desired_encoded[f"{col_name} (바람)"] = combined_text.str.contains(search_term, regex=False).astype(int)

# (2) 특별 키워드 처리 (매핑된 것들 덮어쓰기 혹은 추가)
for original_text, search_term in special_keywords.items():
    # 컬럼명은 깔끔한 search_term을 기준으로 하거나, 요청하신 원문을 유지하고 싶다면 original_text 사용
    # 여기서는 가독성을 위해 '값 (바람)' 형태로 정제된 이름을 사용합니다.
    clean_col_name = original_text.split(' (')[0] if '(' in original_text else original_text
    
    if search_term == 'AICE|AI 자격증\(AICE\)':
        # 정규식(Regex)을 사용해야 하는 경우
        desired_encoded[f"{clean_col_name} (바람)"] = combined_text.str.contains(search_term, regex=True).astype(int)
    else:
        desired_encoded[f"{clean_col_name} (바람)"] = combined_text.str.contains(search_term, regex=False).astype(int)

C:\Users\solba\AppData\Local\Temp\ipykernel_28088\2940231656.py:76: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  desired_encoded[f"{clean_col_name} (바람)"] = combined_text.str.contains(search_term, regex=False).astype(int)
C:\Users\solba\AppData\Local\Temp\ipykernel_28088\2940231656.py:76: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  desired_encoded[f"{clean_col_name} (바람)"] = combined_text.str.contains(search_term, regex=False).astype(int)
C:\Users\solba\AppData\Local\Temp\ipykernel_28088\2940231656.py:76: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  desired_encoded[f"{clean_col_name} (바람)"] = combined_text.str.contains(search_term, regex=False).astype(int)
C:\Users\solba\AppData\Local\Temp\ipykernel_28088\2940231656.py:76: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  desired_encoded[f"{clean_col_name} (바람)"] = combined_text.str.contains(search_term, regex=False).astype(int)
C:\Users\solba\AppData\Local\Temp\ipykernel_28088\2940231656.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  desired_encoded[f"{clean_col_name} (바람)"] = combined_text.str.contains(search_term, regex=True).astype(int)

In [62]:
desired_encoded

,ID,대학원 진학 (바람),취업 (바람),이직 (바람),창업 (바람),A. 데이터 엔지니어 (바람),B. 데이터 분석가 (바람),C. 데이터 사이언티스트 (바람),D. 인공지능 전문가 (바람),E. 소프트웨어 개발자 (바람),...,D. 소프트웨어 개발자 (바람),E. UI/UX 디자이너 (바람),F. PM / 서비스 기획자 (바람),G. 자연과학계열 연구자 (바람),H. 마케터 / 영업관리 (바람),픔질관리 (바람),Hr (바람),사회조사분석사2급 (바람),사회조사분석사 2급 (바람),AICE / AI 자격증(AICE) (바람)
0,TRAIN_000,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,TRAIN_001,0,1,0,0,0,1,1,0,0,...,1,0,1,0,0,0,0,0,0,0
2,TRAIN_002,1,0,0,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,TRAIN_003,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,TRAIN_004,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,TRAIN_743,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
744,TRAIN_744,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
745,TRAIN_745,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
746,TRAIN_746,0,1,0,0,0,1,0,0,0,...,0,0,1,1,0,0,0,0,0,0
747,TRAIN_747,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

-------------------------------------------------------------------------------------

'incumbents_level','incumbents_lecture', 'incumbents_company_level', 'incumbents_lecture_type', 'incumbents_lecture_scale' - 5개

In [60]:
incumbents = train[['ID', 'incumbents_level', 'incumbents_lecture', 'incumbents_company_level', 'incumbents_lecture_type', 'incumbents_lecture_scale']]
incumbents

,ID,incumbents_level,incumbents_lecture,incumbents_company_level,incumbents_lecture_type,incumbents_lecture_scale
0,TRAIN_000,시니어 (10년차 ~),산업 트렌드 (예시: ChatGPT로 인한 직무 변화),해외 기업 (빅테크),"온, 오프라인 동시",100명 이상의 리스너와 10명 이상의 현직자
1,TRAIN_001,주니어 (0~3년차),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),국내 빅테크 IT 계열 (네카라쿠배당토),오프라인,3~50명 내외의 강의 리스너와 1명의 현직자
2,TRAIN_002,주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)",오프라인,3~50명 내외의 강의 리스너와 1명의 현직자
3,TRAIN_003,주니어 (0~3년차),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),국내 빅테크 IT 계열 (네카라쿠배당토),"온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자
4,TRAIN_004,주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자
...,...,...,...,...,...,...
743,TRAIN_743,주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자
744,TRAIN_744,주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",100명 이상의 리스너와 10명 이상의 현직자
745,TRAIN_745,시니어 (10년차 ~),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),해외 기업 (빅테크),"온, 오프라인 동시",100명 이상의 리스너와 10명 이상의 현직자
746,TRAIN_746,주니어 (0~3년차),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자
747,TRAIN_747,주니어 (0~3년차),산업 트렌드 (예시: ChatGPT로 인한 직무 변화),"국내 대기업 IT 계열 (금융, 제조 ...)",온라인,3~50명 내외의 강의 리스너와 1명의 현직자

In [63]:
incumbents['incumbents_level'].unique()

array(['시니어 (10년차 ~)', '주니어 (0~3년차)'], dtype=object)

In [64]:
incumbents['incumbents_lecture'].unique()

array(['산업 트렌드 (예시: ChatGPT로 인한 직무 변화)',
       '커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정)',
       '직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁)',
       '커리어 패스 과정과 직무 강의 둘다 궁금합니다 ', '원동력', '위 항목 전부 다',
       '위에 3가지 모두 듣고 싶습니다', '위 3개 전부 다', '취업하기 위해 준비했던 각종 데이터 관련 경험들',
       '커리어패스, 산업 트렌드'], dtype=object)

In [65]:
incumbents['incumbents_company_level'].unique()

array(['해외 기업 (빅테크)', '국내 빅테크 IT 계열 (네카라쿠배당토)',
       '국내 대기업 IT 계열 (금융, 제조 ...)', '스타트업 C-level',
       '국내와 해외 기업 현직자 모두에게 들었으면 좋겠다.', '배터리 관련 기업', '바이오인공지능 계열',
       '국내외 반도체 기업', '은행 및 보험 쪽 IT', '잘 모르겠음',
       '국내 대기업 IT 계열과 해외 기업 현직자에게 가장 듣고 싶습니다', '국내 빅테크 IT계열, 해외 기업 둘 다',
       '...', '공간정보 관련 직무 계열', '1순위: 국내 대기업 IT 계열. 2순위: 해외 기업(빅테크)',
       '게임회사', '스포츠구단'], dtype=object)

In [66]:
incumbents['incumbents_lecture_type'].unique()

array(['온, 오프라인 동시', '오프라인', '온라인'], dtype=object)

In [67]:
incumbents['incumbents_lecture_scale'].unique()

array(['100명 이상의 리스너와 10명 이상의 현직자', '3~50명 내외의 강의 리스너와 1명의 현직자',
       '10명 내외의 강의 리스너와 1명의 현직자', '100명 이상의 리스너와 1-2명의 현직자',
       '100명 이상의 리스너와 3명의 현직자', '...'], dtype=object)

In [68]:
import pandas as pd

# 1. 결과를 담을 DataFrame 생성 (ID 포함)
incumbents_encoded = pd.DataFrame()
incumbents_encoded['ID'] = incumbents['ID']

# ==========================================
# A. 현직자 연차 (2개 컬럼)
# 대상 컬럼: incumbents_level
# ==========================================
# 규칙: "주니어" 포함 -> lvl_junior, "시니어" 포함 -> lvl_senior
incumbents_encoded['lvl_junior'] = incumbents['incumbents_level'].str.contains('주니어', na=False).astype(int)
incumbents_encoded['lvl_senior'] = incumbents['incumbents_level'].str.contains('시니어', na=False).astype(int)


# ==========================================
# B. 강연 내용 (3개 컬럼)
# 대상 컬럼: incumbents_lecture
# ==========================================
# 규칙: 키워드 포함 여부 확인 + "전부/모두" 같은 포괄적 응답 처리
target_col = incumbents['incumbents_lecture'].fillna('')

# 1) 개별 키워드 확인
has_trend = target_col.str.contains('산업 트렌드', regex=False)
has_career = target_col.str.contains('커리어 패스', regex=False)
has_job = target_col.str.contains('직무 강의', regex=False)

# 2) "전부", "모두", "3개" 등 모든 것을 포함하는 표현 확인 (Regex 사용)
has_all = target_col.str.contains('전부|모두|3개|3가지', regex=True)

# 3) 최종 컬럼 생성 (개별 키워드가 있거나 OR 전부 다라고 했으면 1)
incumbents_encoded['topic_industry_trend'] = (has_trend | has_all).astype(int)
incumbents_encoded['topic_career_path'] = (has_career | has_all).astype(int)
incumbents_encoded['topic_job_lecture'] = (has_job | has_all).astype(int)


# ==========================================
# C. 강연 방식 (2개 컬럼)
# 대상 컬럼: incumbents_lecture_type (내용상 이 컬럼이 온/오프라인 정보임)
# ==========================================
# 규칙: "온라인" 글자가 있으면 mode_online=1, "오프라인" 글자가 있으면 mode_offline=1
# "온, 오프라인 동시"의 경우 두 조건 모두 참이 되어 둘 다 1이 됨 (요청 사항 반영)
target_col = incumbents['incumbents_lecture_type'].fillna('')

incumbents_encoded['mode_online'] = target_col.str.contains('온라인', regex=False).astype(int)
incumbents_encoded['mode_offline'] = target_col.str.contains('오프라인', regex=False).astype(int)


# ==========================================
# D. 강연 규모 (3개 컬럼)
# 대상 컬럼: incumbents_lecture_scale
# ==========================================
# 규칙: 특정 인원 수 텍스트가 포함되어 있는지 확인
target_col = incumbents['incumbents_lecture_scale'].fillna('')

incumbents_encoded['scale_small'] = target_col.str.contains('10명 내외', regex=False).astype(int)
incumbents_encoded['scale_medium'] = target_col.str.contains('3~50명', regex=False).astype(int)
incumbents_encoded['scale_large'] = target_col.str.contains('100명 이상', regex=False).astype(int)

In [69]:
incumbents_encoded

,ID,lvl_junior,lvl_senior,topic_industry_trend,topic_career_path,topic_job_lecture,mode_online,mode_offline,scale_small,scale_medium,scale_large
0,TRAIN_000,0,1,1,0,0,0,1,0,0,1
1,TRAIN_001,1,0,0,1,0,0,1,0,1,0
2,TRAIN_002,1,0,0,0,1,0,1,0,1,0
3,TRAIN_003,1,0,0,1,0,0,1,0,1,0
4,TRAIN_004,1,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
743,TRAIN_743,1,0,0,0,1,0,1,0,1,0
744,TRAIN_744,1,0,0,0,1,0,1,0,0,1
745,TRAIN_745,0,1,0,1,0,0,1,0,0,1
746,TRAIN_746,1,0,0,1,0,0,1,0,1,0
747,TRAIN_747,1,0,1,0,0,1,0,0,1,0

-------------------------------------------------------------------------------------

In [70]:
answer = train[['ID', 'completed']]
answer

            ID  completed
0    TRAIN_000          0
1    TRAIN_001          0
2    TRAIN_002          0
3    TRAIN_003          1
4    TRAIN_004          0
..         ...        ...
743  TRAIN_743          0
744  TRAIN_744          1
745  TRAIN_745          1
746  TRAIN_746          1
747  TRAIN_747          1

[748 rows x 2 columns]

In [71]:
import pandas as pd
from functools import reduce

# 1. 병합할 데이터프레임 리스트 생성
# (앞서 생성한 변수명이 _encoded로 끝난다면 해당 변수명을 넣어주세요. 예: major_encoded)
dfs = [
    personal_information,  # 기본 인적사항
    major_information,     # 전공 정보 (major_encoded)
    class_information,     # 수강 정보 (class_encoded)
    previous_information,  # 이전 수강 이력 (previous_encoded)
    why_encoded,           # 지원 동기
    desired_encoded,       # 희망 진로
    incumbents_encoded,    # 현직자 관련
    answer                 # 정답 데이터
]

# 2. reduce를 사용하여 순차적으로 병합
# on='ID': ID를 기준으로 병합
# how='outer': 어느 한쪽 데이터에만 ID가 있어도 누락되지 않도록 '합집합' 처리 (안전한 방식)
final_df = reduce(lambda left, right: pd.merge(left, right, on='ID', how='outer'), dfs)

# 3. (선택사항) 병합 과정에서 생긴 NaN 값 처리
# 원-핫 인코딩된 컬럼들(0 또는 1)이 병합되면서, 해당 ID의 정보가 없으면 NaN이 생길 수 있습니다.
# 이 경우 NaN을 0으로 채우는 것이 논리적으로 맞다면 아래 코드를 실행하세요.
# final_df = final_df.fillna(0)

In [72]:
final_df

,ID,school0,school1,school2,school3,school4,school5,school6,school7,school8,...,lvl_senior,topic_industry_trend,topic_career_path,topic_job_lecture,mode_online,mode_offline,scale_small,scale_medium,scale_large,completed
0,TRAIN_000,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
1,TRAIN_001,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
2,TRAIN_002,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
3,TRAIN_003,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
4,TRAIN_004,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,TRAIN_743,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
744,TRAIN_744,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,1
745,TRAIN_745,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,1,1
746,TRAIN_746,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
747,TRAIN_747,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,1

In [86]:
import pandas as pd

# 1. 현재 컬럼 목록 가져오기
current_columns = final_df.columns.tolist()

# 2. 변경해야 할 중간 컬럼의 개수 계산 (첫 번째 ID, 마지막 completed 제외)
# 전체 길이에서 2개를 뺍니다.
num_features = len(current_columns) - 2

# 3. 새로운 컬럼명 리스트 생성
# [첫 번째 컬럼] + [F1 ~ Fn] + [마지막 컬럼]
new_columns = [current_columns[0]] + [f'F{i}' for i in range(1, num_features + 1)] + [current_columns[-1]]

# 4. 데이터프레임에 새로운 컬럼명 적용
final_df.columns = new_columns

# 결과 확인
print(f"중간 Feature 개수: {num_features}개")
print("변경된 컬럼명 일부 (앞):", final_df.columns[:5].tolist())
print("변경된 컬럼명 일부 (뒤):", final_df.columns[-5:].tolist())

# 데이터프레임 확인
display(final_df.head())

중간 Feature 개수: 308개
변경된 컬럼명 일부 (앞): ['ID', 'F1', 'F2', 'F3', 'F4']
변경된 컬럼명 일부 (뒤): ['F305', 'F306', 'F307', 'F308', 'completed']

,ID,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F300,F301,F302,F303,F304,F305,F306,F307,F308,completed
0,TRAIN_000,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
1,TRAIN_001,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
2,TRAIN_002,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
3,TRAIN_003,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
4,TRAIN_004,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0

In [87]:
# 5. 최종 데이터프레임을 CSV 파일로 저장
final_df.to_csv("C:\\Users\\solba\\dacon-project\\data\\processing\\train_processed.csv", index=False)

In [88]:
import pandas as pd

# ---------------------------------------------------------
# Test 데이터: personal_test_information 생성
# ---------------------------------------------------------

# 1. School (학교)
school_test_dummies = pd.get_dummies(personal_test['school1'], prefix='school', prefix_sep='', dtype=int)
school_test_dummies = school_test_dummies.reindex(columns=[f'school{i}' for i in range(92)], fill_value=0)

# 2. Job (직업)
job_test_dummies = pd.get_dummies(personal_test['job'], dtype=int)

# 3. Nationality (국적)
nation_test_dummies = pd.get_dummies(personal_test['nationality'], dtype=int)

# 4. Certificate (자격증)
all_cert_test_dummies = personal_test['certificate_acquisition'].str.get_dummies(sep=', ')
cert_test_dummies = all_cert_test_dummies.reindex(columns=target_certs, fill_value=0)

# 5. 최종 병합
personal_test_information = pd.concat([
    personal_test[['ID']], 
    school_test_dummies, 
    job_test_dummies, 
    nation_test_dummies, 
    cert_test_dummies
], axis=1)

print(f"personal_test_information shape: {personal_test_information.shape}")
personal_test_information.head()

personal_test_information shape: (814, 106)

,ID,school0,school1,school2,school3,school4,school5,school6,school7,school8,...,취준생,내국인,외국인,컴퓨터활용능력,ADsP,SQLD,정보처리기사,구글 애널리스트,태블로,빅데이터 분석 기사
0,TEST_000,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,TEST_001,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,TEST_002,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,TEST_003,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0,0,0
4,TEST_004,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [89]:
import pandas as pd
from functools import reduce

# ---------------------------------------------------------
# Test 데이터 처리: major_test_information, class_test_information, 등 생성
# ---------------------------------------------------------

# 1. major_test_information
field_test_dummies = major_test['major_field'].str.get_dummies(sep=', ')
major_test_information = pd.DataFrame()
major_test_information['ID'] = major_test['ID']

for col in target_columns:
    cond1 = (major_test['major type'] == col)
    cond2 = (major_test['major1_1'] == col)
    cond3 = (major_test['major1_2'] == col)
    if col in field_test_dummies.columns:
        cond4 = (field_test_dummies[col] == 1)
    else:
        cond4 = False
    major_test_information[col] = (cond1 | cond2 | cond3 | cond4).astype(int)


# 2. class_test_information
classs_test = test[['ID', 'class1', 'class2', 'class3', 'class4']]
class_test_information = pd.DataFrame()
class_test_information['ID'] = classs_test['ID']

for num in target_nums:
    col_name = f"{num}반"
    class_test_information[col_name] = classs_test[['class1', 'class2', 'class3', 'class4']].eq(num).any(axis=1).astype(int)


# 3. previous_test_information
previous_test = test[['ID', 'previous_class_3', 'previous_class_4', 'previous_class_5', 'previous_class_6', 'previous_class_7', 'previous_class_8']]
previous_test_information = pd.DataFrame()
previous_test_information['ID'] = previous_test['ID']

cols_to_check_test = [col for col in previous_test.columns if col != 'ID']
temp_df_test = previous_test[cols_to_check_test].fillna('')

for course in target_courses:
    has_course_test = pd.Series([False] * len(previous_test), index=previous_test.index)
    for col in cols_to_check_test:
        has_course_test |= temp_df_test[col].str.contains(course, regex=False)
    previous_test_information[course] = has_course_test.astype(int)


# 4. why_test_information
why_test = test[['ID', 'inflow_route', 'whyBDA', 'what_to_gain', 'expected_domain', 'onedayclass_topic']]
why_test_encoded = pd.DataFrame()
why_test_encoded['ID'] = why_test['ID']

why_test_filled = why_test.fillna('')

# Group 1. 유입 경로
for col in inflow_cols:
    why_test_encoded[col] = why_test_filled['inflow_route'].str.contains(col, regex=False).astype(int)
why_test_encoded['유입기타'] = why_test_filled['inflow_route'].eq('기타').astype(int)

# Group 2. 지원 동기
for col in why_bda_cols:
    why_test_encoded[col] = why_test_filled['whyBDA'].str.contains(col, regex=False).astype(int)

# Group 3. 얻어가고 싶은 것
for col in gain_cols:
    why_test_encoded[col] = why_test_filled['what_to_gain'].str.contains(col, regex=False).astype(int)
cond_da_test = (why_test_filled['what_to_gain'].str.contains('데이터 분석 역량', regex=False) | 
                why_test_filled['what_to_gain'].str.contains('분석 역량', regex=False))
why_test_encoded['데이터 분석 역량'] = cond_da_test.astype(int)

# Group 4. 희망 도메인
for col in domain_cols:
    why_test_encoded[col] = why_test_filled['expected_domain'].str.contains(col, regex=False).astype(int)

# Group 5. 원데이 클래스 주제
for col in oneday_cols:
    why_test_encoded[col] = why_test_filled['onedayclass_topic'].str.contains(col, regex=False).astype(int)
cond_tableau_test = (why_test_filled['onedayclass_topic'].str.contains('태블로', regex=False) | 
                     why_test_filled['onedayclass_topic'].str.contains('테블로', regex=False))
why_test_encoded['태블로 (표기 "테블로" 포함)'] = cond_tableau_test.astype(int)
cond_pbi_test = (why_test_filled['onedayclass_topic'].str.contains('Power BI', regex=False) | 
                 why_test_filled['onedayclass_topic'].str.contains('Power Bi', regex=False) |
                 why_test_filled['onedayclass_topic'].str.contains('파워비아이', regex=False) |
                 why_test_filled['onedayclass_topic'].str.contains('powebi', regex=False))
why_test_encoded['Power BI (표기 "Power Bi", "파워비아이", "powebi" 포함)'] = cond_pbi_test.astype(int)


# 5. desired_test_information
desired_test = test[['ID', 'desired_career_path', 'desired_job', 'desired_certificate', 'desired_job_except_data']]
desired_test_encoded = pd.DataFrame()
desired_test_encoded['ID'] = desired_test['ID']

cols_to_search_test = ['desired_career_path', 'desired_job', 'desired_certificate', 'desired_job_except_data']
combined_text_test = desired_test[cols_to_search_test].fillna('').apply(lambda x: ' '.join(x), axis=1)

for item in general_keywords:
    search_term_test = item
    col_name_test = item
    if ' (표기 변형)' in item:
        search_term_test = item.replace(' (표기 변형)', '')
        col_name_test = search_term_test
    desired_test_encoded[f"{col_name_test} (바람)"] = combined_text_test.str.contains(search_term_test, regex=False).astype(int)

for original_text, search_term_test in special_keywords.items():
    clean_col_name_test = original_text.split(' (')[0] if '(' in original_text else original_text
    if search_term_test == 'AICE|AI 자격증\(AICE\)':
        desired_test_encoded[f"{clean_col_name_test} (바람)"] = combined_text_test.str.contains(search_term_test, regex=True).astype(int)
    else:
        desired_test_encoded[f"{clean_col_name_test} (바람)"] = combined_text_test.str.contains(search_term_test, regex=False).astype(int)


# 6. incumbents_test_information
incumbents_test = test[['ID', 'incumbents_level', 'incumbents_lecture', 'incumbents_company_level', 'incumbents_lecture_type', 'incumbents_lecture_scale']]
incumbents_test_encoded = pd.DataFrame()
incumbents_test_encoded['ID'] = incumbents_test['ID']

incumbents_test_encoded['lvl_junior'] = incumbents_test['incumbents_level'].str.contains('주니어', na=False).astype(int)
incumbents_test_encoded['lvl_senior'] = incumbents_test['incumbents_level'].str.contains('시니어', na=False).astype(int)

target_col_test = incumbents_test['incumbents_lecture'].fillna('')
has_trend_test = target_col_test.str.contains('산업 트렌드', regex=False)
has_career_test = target_col_test.str.contains('커리어 패스', regex=False)
has_job_test = target_col_test.str.contains('직무 강의', regex=False)
has_all_test = target_col_test.str.contains('전부|모두|3개|3가지', regex=True)
incumbents_test_encoded['topic_industry_trend'] = (has_trend_test | has_all_test).astype(int)
incumbents_test_encoded['topic_career_path'] = (has_career_test | has_all_test).astype(int)
incumbents_test_encoded['topic_job_lecture'] = (has_job_test | has_all_test).astype(int)

target_col_test = incumbents_test['incumbents_lecture_type'].fillna('')
incumbents_test_encoded['mode_online'] = target_col_test.str.contains('온라인', regex=False).astype(int)
incumbents_test_encoded['mode_offline'] = target_col_test.str.contains('오프라인', regex=False).astype(int)

target_col_test = incumbents_test['incumbents_lecture_scale'].fillna('')
incumbents_test_encoded['scale_small'] = target_col_test.str.contains('10명 내외', regex=False).astype(int)
incumbents_test_encoded['scale_medium'] = target_col_test.str.contains('3~50명', regex=False).astype(int)
incumbents_test_encoded['scale_large'] = target_col_test.str.contains('100명 이상', regex=False).astype(int)


# 7. 최종 병합 (test 데이터)
dfs_test = [
    personal_test_information,
    major_test_information,
    class_test_information,
    previous_test_information,
    why_test_encoded,
    desired_test_encoded,
    incumbents_test_encoded
]

final_df_test = reduce(lambda left, right: pd.merge(left, right, on='ID', how='outer'), dfs_test)
final_df_test = final_df_test.fillna(0)

# 8. 컬럼명 변경
current_columns_test = final_df_test.columns.tolist()
num_features_test = len(current_columns_test) - 1
new_columns_test = [current_columns_test[0]] + [f'F{i}' for i in range(1, num_features_test + 1)]
final_df_test.columns = new_columns_test

print(f"Test 데이터 shape: {final_df_test.shape}")
print(f"Feature 개수: {num_features_test}개")
final_df_test.head()

Test 데이터 shape: (814, 309)
Feature 개수: 308개

C:\Users\solba\AppData\Local\Temp\ipykernel_28088\1352416470.py:110: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  desired_test_encoded[f"{clean_col_name_test} (바람)"] = combined_text_test.str.contains(search_term_test, regex=False).astype(int)
C:\Users\solba\AppData\Local\Temp\ipykernel_28088\1352416470.py:110: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  desired_test_encoded[f"{clean_col_name_test} (바람)"] = combined_text_test.str.contains(search_term_test, regex=False).astype(int)
C:\Users\solba\AppData\Local\Temp\ipykernel_28088\1352416470.py:110: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  desired_test_encoded[f"{clean_col_name_test} (바람)"] = combined_text_test.str.contains(search_term_test, regex=False).astype(int)
C:\Users\solba\AppData\Local\Temp\ipykernel_28088\1352416470.py:110: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  desired_test_encoded[f"{clean_col_name_test} (바람)"] = combined_text_test.str.contains(search_term_test, regex=False).astype(int)
C:\Users\solba\AppData\Local\Temp\ipykernel_28088\1352416470.py:108: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  desired_test_encoded[f"{clean_col_name_test} (바람)"] = combined_text_test.str.contains(search_term_test, regex=True).astype(int)

,ID,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F299,F300,F301,F302,F303,F304,F305,F306,F307,F308
0,TEST_000,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,0
1,TEST_001,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1
2,TEST_002,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
3,TEST_003,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
4,TEST_004,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1

In [85]:
final_df_test

,ID,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F299,F300,F301,F302,F303,F304,F305,F306,F307,F308
0,TEST_000,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,0
1,TEST_001,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1
2,TEST_002,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
3,TEST_003,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
4,TEST_004,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,TEST_809,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
810,TEST_810,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
811,TEST_811,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1
812,TEST_812,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,0
813,TEST_813,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1

In [90]:
final_df_test.to_csv("C:\\Users\\solba\\dacon-project\\data\\processing\\test_processed.csv", index=False)