In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("C:\\Users\\solba\\dacon-project\\data\\raw\\train.csv")
test = pd.read_csv("C:\\Users\\solba\\dacon-project\\data\\raw\\test.csv")

In [3]:
columns_to_drop = ['generation', 'contest_award', 'completed_semester', 'major_data',  
                   'incumbents_lecture_scale_reason', 'interested_company', 'contest_participation', 'idea_contest']
train = train.drop(columns=columns_to_drop)
test = test.drop(columns=columns_to_drop)

print(f"삭제 후 train shape: {train.shape}")

삭제 후 train shape: (748, 38)

In [5]:
train.columns

Index(['ID', 'school1', 'major type', 'major1_1', 'major1_2', 'job', 'class1',
       'class2', 'class3', 'class4', 're_registration', 'nationality',
       'inflow_route', 'whyBDA', 'what_to_gain', 'hope_for_group',
       'previous_class_3', 'previous_class_4', 'previous_class_5',
       'previous_class_6', 'previous_class_7', 'previous_class_8',
       'major_field', 'desired_career_path', 'project_type', 'time_input',
       'desired_job', 'certificate_acquisition', 'desired_certificate',
       'desired_job_except_data', 'incumbents_level', 'incumbents_lecture',
       'incumbents_company_level', 'incumbents_lecture_type',
       'incumbents_lecture_scale', 'expected_domain', 'onedayclass_topic',
       'completed'],
      dtype='object')

### 현재까지 취득한것(int)
ID, class1, class2, class3, class4, previous_class_3, previous_class_4, previous_class_5, previous_class_6, previous_class_7, previous_class_8, certificate_acquisition

### 현재 상태(str)
ID, school1, job, nationality, major type, major1_1, major1_2, major_fiel, re_registration, project_type

### 진행과정(int)
ID, time_input

### 원하는 것(str)
ID, hope_for_group, desired_career_path

### 원하는 것(int)
ID, desired_job, desired_job_except_data, desired_certificate, expected_domain

### 원하는 강사(str)

### Merge
personal, want_st, teacher, previous, time_df, want_in

In [12]:
personal = train[['ID', 'school1', 'job', 'nationality', 'major type', 'major1_1', 'major1_2', 'major_field']]

In [13]:
personal.head()

,ID,school1,job,nationality,major type,major1_1,major1_2,major_field
0,TRAIN_000,22,대학생,내국인,"복수 전공 ( 다중전공, 이중전공 포함 )",경제통상학,자연과학,"자연과학, 사회과학"
1,TRAIN_001,1,대학생,내국인,"복수 전공 ( 다중전공, 이중전공 포함 )",자연과학,IT(컴퓨터 공학 포함),사회과학
2,TRAIN_002,27,대학생,내국인,단일 전공,예체능,NaN,예체능
3,TRAIN_003,1,대학생,내국인,"복수 전공 ( 다중전공, 이중전공 포함 )",사회과학,IT(컴퓨터 공학 포함),법학
4,TRAIN_004,16,대학생,내국인,"복수 전공 ( 다중전공, 이중전공 포함 )",IT(컴퓨터 공학 포함),IT(컴퓨터 공학 포함),"IT (컴퓨터 공학 포함), 인문학"

In [ ]:
high_tech_list = ['IT (컴퓨터 공학 포함)', '공학 (컴퓨터 공학 제외)']
data_friendly_list = ['경영학', '경제통상학', '자연과학', '자연고학']
def classify_majors(text):
    if pd.isna(text):
        return pd.Series([0, 0, 0])
    
    majors = [m.strip() for m in text.split(',')]
    
    high_tech = 0
    data_friendly = 0
    others = 0
    
    for m in majors:
        if m in high_tech_list:
            high_tech = 1
        elif m in data_friendly_list:
            data_friendly = 1
        else:
            if m and m != 'nan':
                others = 1
                
    return pd.Series([high_tech, data_friendly, others])

personal[['High Tech', 'Data Friendly', 'Others']] = personal['major_field'].apply(classify_majors)

personal_df = personal[['ID', 'school1', 'job', 'nationality', 'High Tech', 'Data Friendly', 'Others']]

C:\Users\solba\AppData\Local\Temp\ipykernel_28892\3350277409.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  personal[['High Tech', 'Data Friendly', 'Others']] = personal['major_field'].apply(classify_majors)
C:\Users\solba\AppData\Local\Temp\ipykernel_28892\3350277409.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  personal[['High Tech', 'Data Friendly', 'Others']] = personal['major_field'].apply(classify_majors)
C:\Users\solba\AppData\Local\Temp\ipykernel_28892\3350277409.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  personal[['High Tech', 'Data Friendly', 'Others']] = personal['major_field'].apply(classify_majors)

In [15]:
personal_df

            ID  school1  job nationality  High Tech  Data Friendly  Others
0    TRAIN_000       22  대학생         내국인          0              1       1
1    TRAIN_001        1  대학생         내국인          0              0       1
2    TRAIN_002       27  대학생         내국인          0              0       1
3    TRAIN_003        1  대학생         내국인          0              0       1
4    TRAIN_004       16  대학생         내국인          1              0       1
..         ...      ...  ...         ...        ...            ...     ...
743  TRAIN_743       13  대학생         내국인          1              1       0
744  TRAIN_744       43  대학생         내국인          1              0       0
745  TRAIN_745       11  대학생         내국인          0              1       1
746  TRAIN_746       30  대학생         내국인          1              1       0
747  TRAIN_747       25  대학생         내국인          0              1       0

[748 rows x 7 columns]

In [33]:
previous = train[['ID', 'class1', 'class2', 'class3', 'class4', 'previous_class_3', 'previous_class_4', 'previous_class_5', 'previous_class_6', 'previous_class_7', 'previous_class_8', 'certificate_acquisition']]

In [45]:
previous.head()

,ID,class1,class2,class3,class4,previous_class_3,previous_class_4,previous_class_5,previous_class_6,previous_class_7,previous_class_8,certificate_acquisition
0,TRAIN_000,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,컴퓨터활용능력
1,TRAIN_001,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,없음
2,TRAIN_002,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADsP
3,TRAIN_003,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SQLD, 정보처리기사"
4,TRAIN_004,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADsP

In [43]:
# 'certificate_acquisition' 열이 추가되었고, 여러 자격증이 콤마로 구분되어 있을 수 있음
# NaN, '해당없음', '없음' 제외, certificate_acquisition은 콤마로 분리하여 개수 합산
def count_valid(row):
    count = 0
    for col in row.index:
        if col == 'certificate_acquisition':
            val = row[col]
            if pd.notna(val) and val not in ['해당없음', '없음']:
                # 여러 자격증이 콤마로 구분되어 있을 수 있음
                count += len([x for x in str(val).split(',') if x.strip() and x.strip() not in ['해당없음', '없음']])
        elif col != 'ID':
            val = row[col]
            if pd.notna(val) and val not in ['해당없음', '없음']:
                count += 1
    return count

previous = train[['ID', 'class1', 'class2', 'class3', 'class4', 'previous_class_3', 'previous_class_4', 'previous_class_5',
                  'previous_class_6', 'previous_class_7', 'previous_class_8', 'certificate_acquisition']]
previous_count = previous.apply(count_valid, axis=1)
previous_count = pd.DataFrame({'ID': previous['ID'], 'count': previous_count})

In [44]:
previous_count.head()

          ID  count
0  TRAIN_000      3
1  TRAIN_001      1
2  TRAIN_002      2
3  TRAIN_003      3
4  TRAIN_004      2

In [ ]:
want_str = train[[]]

In [60]:
want_int = train[['ID', 'desired_career_path', 'desired_job', 'desired_job_except_data', 'desired_certificate', 'expected_domain']]

In [61]:
# 원하는 것 개수 세기 함수 (expected_domain은 맨 앞 알파벳만 세기)
def count_want(row):
    count = 0
    for col in ['desired_job', 'desired_job_except_data', 'desired_certificate']:
        val = row[col]
        if pd.isna(val):
            continue
        items = [x.strip() for x in str(val).split(',') if x.strip() and x.strip() not in ['없음', '아직 없음']]
        count += len(items)
    # expected_domain은 맨 앞 알파벳만 세기
    val = row['expected_domain']
    if pd.notna(val):
        # 예: 'J. 정보통신업, O. 공공 행정, 국방 및 사회보장 행정' → ['J', 'O']
        items = [x.strip() for x in str(val).split(',') if x.strip()]
        domain_initials = [x.split('.')[0].strip() for x in items if '.' in x]
        count += len(domain_initials)
    return count

want_int['want_count'] = want_int.apply(count_want, axis=1)
want_int[['ID', 'want_count']].head()

C:\Users\solba\AppData\Local\Temp\ipykernel_28892\257393142.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  want_int['want_count'] = want_int.apply(count_want, axis=1)

          ID  want_count
0  TRAIN_000           8
1  TRAIN_001          10
2  TRAIN_002          12
3  TRAIN_003           7
4  TRAIN_004          11

In [66]:
want_int

,ID,desired_career_path,desired_job,desired_job_except_data,desired_certificate,expected_domain,want_count
0,TRAIN_000,대학원 진학,C. 데이터 사이언티스트,A. 금융 / 보험 직무,"ADsP, SQLD, 빅데이터 분석 기사, 태블로 관련 자격증, 구글 애널리스트","M. 전문, 과학 및 기술 서비스업",8
1,TRAIN_001,취업,"B. 데이터 분석가, C. 데이터 사이언티스트","D. 소프트웨어 개발자, F. PM / 서비스 기획자","ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사","J. 정보통신업, O. 공공 행정, 국방 및 사회보장 행정",10
2,TRAIN_002,대학원 진학,"B. 데이터 분석가, C. 데이터 사이언티스트, I. 마케터","A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, H. 마케터 / 영업관리","SQLD, 빅데이터 분석 기사, 정보처리기사","C. 제조업, K. 금융 및 보험업, R. 예술, 스포츠 및 여가관련 서비스업",12
3,TRAIN_003,취업,"B. 데이터 분석가, C. 데이터 사이언티스트",A. 금융 / 보험 직무,"ADsP, 빅데이터 분석 기사","J. 정보통신업, K. 금융 및 보험업",7
4,TRAIN_004,취업,B. 데이터 분석가,"A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, F. PM / 서비스...","SQLD, 정보처리기사, 태블로 관련 자격증, 구글 애널리스트","K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및...",11
...,...,...,...,...,...,...,...
743,TRAIN_743,취업,B. 데이터 분석가,"A. 금융 / 보험 직무, D. 소프트웨어 개발자","SQLD, 정보처리기사",K. 금융 및 보험업,6
744,TRAIN_744,취업,B. 데이터 분석가,"B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자",아직 없음,"J. 정보통신업, M. 전문, 과학 및 기술 서비스업, P. 교육 서비스업",6
745,TRAIN_745,대학원 진학,C. 데이터 사이언티스트,A. 금융 / 보험 직무,"ADsP, SQLD","M. 전문, 과학 및 기술 서비스업",5
746,TRAIN_746,취업,"B. 데이터 분석가, H. 자연과학계열 연구자","B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자, G. 자연과학계열...","ADsP, 빅데이터 분석 기사","M. 전문, 과학 및 기술 서비스업",8
747,TRAIN_747,취업,B. 데이터 분석가,G. 자연과학계열 연구자,빅데이터 분석 기사,J. 정보통신업,4

In [62]:
want_df = want_str[['ID', 'want_count']]

In [63]:
want_df

            ID  want_count
0    TRAIN_000           8
1    TRAIN_001          10
2    TRAIN_002          12
3    TRAIN_003           7
4    TRAIN_004          11
..         ...         ...
743  TRAIN_743           6
744  TRAIN_744           6
745  TRAIN_745           5
746  TRAIN_746           8
747  TRAIN_747           4

[748 rows x 2 columns]

In [64]:
teacher = train[['ID', 'incumbents_level', 'incumbents_lecture', 'incumbents_company_level', 'incumbents_lecture_type', 'incumbents_lecture_scale', 'onedayclass_topic']]

In [65]:
teacher

,ID,incumbents_level,incumbents_lecture,incumbents_company_level,incumbents_lecture_type,incumbents_lecture_scale,onedayclass_topic
0,TRAIN_000,시니어 (10년차 ~),산업 트렌드 (예시: ChatGPT로 인한 직무 변화),해외 기업 (빅테크),"온, 오프라인 동시",100명 이상의 리스너와 10명 이상의 현직자,"Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신..."
1,TRAIN_001,주니어 (0~3년차),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),국내 빅테크 IT 계열 (네카라쿠배당토),오프라인,3~50명 내외의 강의 리스너와 1명의 현직자,머신러닝 / 딥러닝 응용
2,TRAIN_002,주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)",오프라인,3~50명 내외의 강의 리스너와 1명의 현직자,"머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링"
3,TRAIN_003,주니어 (0~3년차),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),국내 빅테크 IT 계열 (네카라쿠배당토),"온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자,머신러닝 / 딥러닝 응용
4,TRAIN_004,주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자,"머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링"
...,...,...,...,...,...,...,...
743,TRAIN_743,주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자,"데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용..."
744,TRAIN_744,주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",100명 이상의 리스너와 10명 이상의 현직자,"Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신..."
745,TRAIN_745,시니어 (10년차 ~),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),해외 기업 (빅테크),"온, 오프라인 동시",100명 이상의 리스너와 10명 이상의 현직자,머신러닝 / 딥러닝 응용
746,TRAIN_746,주니어 (0~3년차),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자,"Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등)"
747,TRAIN_747,주니어 (0~3년차),산업 트렌드 (예시: ChatGPT로 인한 직무 변화),"국내 대기업 IT 계열 (금융, 제조 ...)",온라인,3~50명 내외의 강의 리스너와 1명의 현직자,머신러닝 / 딥러닝 응용