In [33]:
import pandas as pd

In [34]:
train = pd.read_csv("/Users/parksung-cheol/show-gy-AI/dacon-project/data/raw/train.csv")
test = pd.read_csv("/Users/parksung-cheol/show-gy-AI/dacon-project/data/raw/test.csv")

In [35]:
train.head()

,ID,generation,school1,major type,major1_1,major1_2,major_data,job,class1,class2,...,incumbents_company_level,incumbents_lecture_type,incumbents_lecture_scale,incumbents_lecture_scale_reason,interested_company,expected_domain,contest_participation,idea_contest,onedayclass_topic,completed
0,TRAIN_000,9,22,"복수 전공 ( 다중전공, 이중전공 포함 )",경제통상학,자연과학,False,대학생,1,4.0,...,해외 기업 (빅테크),"온, 오프라인 동시",100명 이상의 리스너와 10명 이상의 현직자,다양한 사람들과 만나서 생각을 교류할 수 있기 때문,"구글 딥마인드, 카카오 브레인","M. 전문, 과학 및 기술 서비스업",NaN,NaN,"Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신...",0
1,TRAIN_001,9,1,"복수 전공 ( 다중전공, 이중전공 포함 )",자연과학,IT(컴퓨터 공학 포함),True,대학생,8,NaN,...,국내 빅테크 IT 계열 (네카라쿠배당토),오프라인,3~50명 내외의 강의 리스너와 1명의 현직자,더 많은 사람들이 있으면 제가 예상하지 못한 질문도 할 수 있다고 생각하기 때문입니다.,제일 기획,"J. 정보통신업, O. 공공 행정, 국방 및 사회보장 행정",NaN,NaN,머신러닝 / 딥러닝 응용,0
2,TRAIN_002,9,27,단일 전공,예체능,NaN,False,대학생,7,NaN,...,"국내 대기업 IT 계열 (금융, 제조 ...)",오프라인,3~50명 내외의 강의 리스너와 1명의 현직자,인원이 너무 적으면 서로 부담스러울 수 있을 것 같지만 너무 많으면 너무 피상적인 ...,Lg전자,"C. 제조업, K. 금융 및 보험업, R. 예술, 스포츠 및 여가관련 서비스업",NaN,NaN,"머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링",0
3,TRAIN_003,9,1,"복수 전공 ( 다중전공, 이중전공 포함 )",사회과학,IT(컴퓨터 공학 포함),False,대학생,7,NaN,...,국내 빅테크 IT 계열 (네카라쿠배당토),"온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자,너무 많은 인원이 강의하면 루즈해질 것 같아서,네이버,"J. 정보통신업, K. 금융 및 보험업",NaN,NaN,머신러닝 / 딥러닝 응용,1
4,TRAIN_004,9,16,"복수 전공 ( 다중전공, 이중전공 포함 )",IT(컴퓨터 공학 포함),IT(컴퓨터 공학 포함),True,대학생,8,NaN,...,"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자,다양한 사람들에게 기회가 있으면 좋겠습니다.,네이버,"K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및...",NaN,NaN,"머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링",0

In [36]:
"""generation, class4, contest_award, previous_class_3, completed_semester, incumbents_lecture_scale_reason, interested_company, contest_participation, idea_contest"""

'generation, class4, contest_award, previous_class_3, completed_semester, incumbents_lecture_scale_reason, interested_company, contest_participation, idea_contest'

In [37]:
columns_to_drop = ['generation', 'class4', 'contest_award', 'previous_class_3', 'completed_semester', 
                   'incumbents_lecture_scale_reason', 'interested_company', 'contest_participation', 'idea_contest']
train = train.drop(columns=columns_to_drop)
print(f"삭제 후 train shape: {train.shape}")

삭제 후 train shape: (748, 37)

In [38]:
train

,ID,school1,major type,major1_1,major1_2,major_data,job,class1,class2,class3,...,desired_certificate,desired_job_except_data,incumbents_level,incumbents_lecture,incumbents_company_level,incumbents_lecture_type,incumbents_lecture_scale,expected_domain,onedayclass_topic,completed
0,TRAIN_000,22,"복수 전공 ( 다중전공, 이중전공 포함 )",경제통상학,자연과학,False,대학생,1,4.0,NaN,...,"ADsP, SQLD, 빅데이터 분석 기사, 태블로 관련 자격증, 구글 애널리스트",A. 금융 / 보험 직무,시니어 (10년차 ~),산업 트렌드 (예시: ChatGPT로 인한 직무 변화),해외 기업 (빅테크),"온, 오프라인 동시",100명 이상의 리스너와 10명 이상의 현직자,"M. 전문, 과학 및 기술 서비스업","Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신...",0
1,TRAIN_001,1,"복수 전공 ( 다중전공, 이중전공 포함 )",자연과학,IT(컴퓨터 공학 포함),True,대학생,8,NaN,NaN,...,"ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사","D. 소프트웨어 개발자, F. PM / 서비스 기획자",주니어 (0~3년차),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),국내 빅테크 IT 계열 (네카라쿠배당토),오프라인,3~50명 내외의 강의 리스너와 1명의 현직자,"J. 정보통신업, O. 공공 행정, 국방 및 사회보장 행정",머신러닝 / 딥러닝 응용,0
2,TRAIN_002,27,단일 전공,예체능,NaN,False,대학생,7,NaN,NaN,...,"SQLD, 빅데이터 분석 기사, 정보처리기사","A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, H. 마케터 / 영업관리",주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)",오프라인,3~50명 내외의 강의 리스너와 1명의 현직자,"C. 제조업, K. 금융 및 보험업, R. 예술, 스포츠 및 여가관련 서비스업","머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링",0
3,TRAIN_003,1,"복수 전공 ( 다중전공, 이중전공 포함 )",사회과학,IT(컴퓨터 공학 포함),False,대학생,7,NaN,NaN,...,"ADsP, 빅데이터 분석 기사",A. 금융 / 보험 직무,주니어 (0~3년차),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),국내 빅테크 IT 계열 (네카라쿠배당토),"온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자,"J. 정보통신업, K. 금융 및 보험업",머신러닝 / 딥러닝 응용,1
4,TRAIN_004,16,"복수 전공 ( 다중전공, 이중전공 포함 )",IT(컴퓨터 공학 포함),IT(컴퓨터 공학 포함),True,대학생,8,NaN,NaN,...,"SQLD, 정보처리기사, 태블로 관련 자격증, 구글 애널리스트","A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, F. PM / 서비스...",주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자,"K. 금융 및 보험업, M. 전문, 과학 및 기술 서비스업, R. 예술, 스포츠 및...","머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,TRAIN_743,13,"복수 전공 ( 다중전공, 이중전공 포함 )",자연과학,IT(컴퓨터 공학 포함),True,대학생,7,NaN,NaN,...,"SQLD, 정보처리기사","A. 금융 / 보험 직무, D. 소프트웨어 개발자",주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자,K. 금융 및 보험업,"데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용...",0
744,TRAIN_744,43,단일 전공,경영학,NaN,True,대학생,12,NaN,NaN,...,아직 없음,"B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자",주니어 (0~3년차),직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",100명 이상의 리스너와 10명 이상의 현직자,"J. 정보통신업, M. 전문, 과학 및 기술 서비스업, P. 교육 서비스업","Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신...",1
745,TRAIN_745,11,"복수 전공 ( 다중전공, 이중전공 포함 )",교육학,자연과학,False,대학생,2,NaN,NaN,...,"ADsP, SQLD",A. 금융 / 보험 직무,시니어 (10년차 ~),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),해외 기업 (빅테크),"온, 오프라인 동시",100명 이상의 리스너와 10명 이상의 현직자,"M. 전문, 과학 및 기술 서비스업",머신러닝 / 딥러닝 응용,1
746,TRAIN_746,30,"복수 전공 ( 다중전공, 이중전공 포함 )",IT(컴퓨터 공학 포함),NaN,False,대학생,5,NaN,NaN,...,"ADsP, 빅데이터 분석 기사","B. 기획 / 전략 / 경영 직무, F. PM / 서비스 기획자, G. 자연과학계열...",주니어 (0~3년차),커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정),"국내 대기업 IT 계열 (금융, 제조 ...)","온, 오프라인 동시",3~50명 내외의 강의 리스너와 1명의 현직자,"M. 전문, 과학 및 기술 서비스업","Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등)",1
747,TRAIN_747,25,단일 전공,자연과학,NaN,True,대학생,4,NaN,NaN,...,빅데이터 분석 기사,G. 자연과학계열 연구자,주니어 (0~3년차),산업 트렌드 (예시: ChatGPT로 인한 직무 변화),"국내 대기업 IT 계열 (금융, 제조 ...)",온라인,3~50명 내외의 강의 리스너와 1명의 현직자,J. 정보통신업,머신러닝 / 딥러닝 응용,1

In [39]:
"""결측치 null로 채우기"""

'결측치 null로 채우기'

In [40]:
# 결측치 확인
print("결측치 개수:")
print(train.isnull().sum())
print(f"\n전체 결측치: {train.isnull().sum().sum()}")
print(f"\n결측치 비율:\n{train.isnull().sum() / len(train) * 100}")

결측치 개수:
ID                            0
school1                       0
major type                   22
major1_1                     20
major1_2                    439
major_data                    0
job                           0
class1                        0
class2                      579
class3                      734
re_registration               0
nationality                   1
inflow_route                  0
whyBDA                        0
what_to_gain                  0
hope_for_group                0
previous_class_4            602
previous_class_5            602
previous_class_6            602
previous_class_7            602
previous_class_8            602
major_field                  23
desired_career_path           0
project_type                  0
time_input                    0
desired_job                   0
certificate_acquisition       0
desired_certificate           0
desired_job_except_data       0
incumbents_level              0
incumbents_lecture            0
incumbents_company_level      0
incumbents_lecture_type       0
incumbents_lecture_scale      0
expected_domain               0
onedayclass_topic             0
completed                     0
dtype: int64

전체 결측치: 4828

결측치 비율:
ID                           0.000000
school1                      0.000000
major type                   2.941176
major1_1                     2.673797
major1_2                    58.689840
major_data                   0.000000
job                          0.000000
class1                       0.000000
class2                      77.406417
class3                      98.128342
re_registration              0.000000
nationality                  0.133690
inflow_route                 0.000000
whyBDA                       0.000000
what_to_gain                 0.000000
hope_for_group               0.000000
previous_class_4            80.481283
previous_class_5            80.481283
previous_class_6            80.481283
previous_class_7            80.481283
previous_class_8            80.481283
major_field                  3.074866
desired_career_path          0.000000
project_type                 0.000000
time_input                   0.000000
desired_job                  0.000000
certificate_acquisition      0.000000
desired_certificate          0.000000
desired_job_except_data      0.000000
incumbents_level             0.000000
incumbents_lecture           0.000000
incumbents_company_level     0.000000
incumbents_lecture_type      0.000000
incumbents_lecture_scale     0.000000
expected_domain              0.000000
onedayclass_topic            0.000000
completed                    0.000000
dtype: float64

In [41]:
# 결측치를 적절한 값으로 채우기
# 수치형 컬럼: 중앙값으로 채우기
# 범주형 컬럼: 최빈값 또는 'Unknown'으로 채우기

for column in train.columns:
    if train[column].isnull().sum() > 0:
        if train[column].dtype in ['int64', 'float64']:
            # 수치형은 중앙값으로
            train[column].fillna(train[column].median(), inplace=True)
        else:
            # 범주형은 최빈값으로 (없으면 'Unknown')
            mode_value = train[column].mode()
            if len(mode_value) > 0:
                train[column].fillna(mode_value[0], inplace=True)
            else:
                train[column].fillna('Unknown', inplace=True)

print("결측치 처리 완료!")
print(f"남은 결측치: {train.isnull().sum().sum()}")

결측치 처리 완료!
남은 결측치: 0

/var/folders/5m/_gpx3nys4h17jj55v47mmt700000gn/T/ipykernel_93922/58385782.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[column].fillna(mode_value[0], inplace=True)
/var/folders/5m/_gpx3nys4h17jj55v47mmt700000gn/T/ipykernel_93922/58385782.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[column].fillna(train[column].median(), inplace=True)
/var/folders/5m/_gpx3nys4h17jj55v47mmt700000gn/T/ipykernel_93922/58385782.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[column].fillna(train[column].median(), inplace=True)
/var/folders/5m/_gpx3nys4h17jj55v47mmt700000gn/T/ipykernel_93922/58385782.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[column].fillna(mode_value[0], inplace=True)

In [42]:
# 모든 컬럼을 category형으로 변환 (completed 제외)
# float 값을 string으로 먼저 변환 후 category로 변환
for column in train.columns:
    if column != 'completed':
        # float나 int 값을 모두 string으로 변환 후 category로
        train[column] = train[column].astype(str).astype('category')
    else:
        train[column] = train[column].astype('int')

print("컬럼 타입 변환 완료!")
print(f"\n데이터 타입 확인:")
print(train.dtypes)

컬럼 타입 변환 완료!

데이터 타입 확인:
ID                          category
school1                     category
major type                  category
major1_1                    category
major1_2                    category
major_data                  category
job                         category
class1                      category
class2                      category
class3                      category
re_registration             category
nationality                 category
inflow_route                category
whyBDA                      category
what_to_gain                category
hope_for_group              category
previous_class_4            category
previous_class_5            category
previous_class_6            category
previous_class_7            category
previous_class_8            category
major_field                 category
desired_career_path         category
project_type                category
time_input                  category
desired_job                 category
certificate_acquisition     category
desired_certificate         category
desired_job_except_data     category
incumbents_level            category
incumbents_lecture          category
incumbents_company_level    category
incumbents_lecture_type     category
incumbents_lecture_scale    category
expected_domain             category
onedayclass_topic           category
completed                      int64
dtype: object

In [43]:
# completed의 분포 확인
print("오버샘플링 전:")
print(train['completed'].value_counts())
print(f"비율: {train['completed'].value_counts(normalize=True)}")

# completed가 1인 행만 추출
completed_1 = train[train['completed'] == 1]

# completed가 1인 행을 복제해서 train에 추가
train_oversampled = pd.concat([train, completed_1], ignore_index=True)

# 데이터 셔플
train_oversampled = train_oversampled.sample(frac=1, random_state=42).reset_index(drop=True)

print(f"\n오버샘플링 후:")
print(train_oversampled['completed'].value_counts())
print(f"비율: {train_oversampled['completed'].value_counts(normalize=True)}")
print(f"\n데이터 shape: {train_oversampled.shape}")

# train을 오버샘플링된 데이터로 교체
train = train_oversampled

오버샘플링 전:
completed
0    525
1    223
Name: count, dtype: int64
비율: completed
0    0.701872
1    0.298128
Name: proportion, dtype: float64

오버샘플링 후:
completed
0    525
1    446
Name: count, dtype: int64
비율: completed
0    0.54068
1    0.45932
Name: proportion, dtype: float64

데이터 shape: (971, 37)

In [44]:
from catboost import CatBoostRegressor
import numpy as np

In [45]:
# ID 열 제외하고 X, y 분리
X = train.drop(['ID', 'completed'], axis=1)
y = train['completed']

print(f"X shape: {X.shape}")
print(f"y shape: {y.shape}")
print(f"\n특성 목록:\n{X.columns.tolist()}")

X shape: (971, 35)
y shape: (971,)

특성 목록:
['school1', 'major type', 'major1_1', 'major1_2', 'major_data', 'job', 'class1', 'class2', 'class3', 're_registration', 'nationality', 'inflow_route', 'whyBDA', 'what_to_gain', 'hope_for_group', 'previous_class_4', 'previous_class_5', 'previous_class_6', 'previous_class_7', 'previous_class_8', 'major_field', 'desired_career_path', 'project_type', 'time_input', 'desired_job', 'certificate_acquisition', 'desired_certificate', 'desired_job_except_data', 'incumbents_level', 'incumbents_lecture', 'incumbents_company_level', 'incumbents_lecture_type', 'incumbents_lecture_scale', 'expected_domain', 'onedayclass_topic']

In [46]:
# 각 칼럼별로 completed의 평균을 구해서 초기값 설정
# 예: True일 때 completed 평균이 0.75라면, True인 모든 행에 0.75를 할당

baseline_values = np.zeros(len(train))

for col in X.columns:
    # 각 카테고리별 completed 평균 계산
    category_means = train.groupby(col)['completed'].mean()
    
    print(f"\n{col} 카테고리별 평균:")
    print(category_means)
    
    # 각 행에 해당하는 카테고리의 평균값을 초기값으로 설정
    for idx in range(len(train)):
        category_value = train[col].iloc[idx]
        baseline_values[idx] += category_means[category_value]

# 모든 컬럼의 평균을 더했으므로, 컬럼 개수로 나눠서 평균 초기값 생성
baseline_values = baseline_values / len(X.columns)

print(f"\n초기값 통계:")
print(f"평균: {baseline_values.mean():.4f}")
print(f"최소: {baseline_values.min():.4f}")
print(f"최대: {baseline_values.max():.4f}")

school1 카테고리별 평균:
school1
0     0.451613
1     0.500000
10    0.307692
11    0.243902
12    0.000000
        ...
88    0.000000
89    1.000000
9     0.000000
90    0.000000
91    0.000000
Name: completed, Length: 92, dtype: float64

major type 카테고리별 평균:
major type
단일 전공                      0.426230
단일 전공공학 (컴퓨터 공학 제외)        0.000000
복수 전공 ( 다중전공, 이중전공 포함 )    0.503563
Name: completed, dtype: float64

major1_1 카테고리별 평균:
major1_1
IT(컴퓨터 공학 포함)    0.417391
경영학              0.417778
경제통상학            0.530612
교육학              0.666667
기타               0.000000
법학               0.000000
사회과학             0.556962
예체능              0.571429
의약학              0.432432
인문학              0.608696
자연과학             0.460317
Name: completed, dtype: float64

major1_2 카테고리별 평균:
major1_2
IT(컴퓨터 공학 포함)    0.462766
경영학              0.329114
경제통상학            0.560000
교육학              0.000000
기타               0.400000
사회과학             0.733333
예체능              0.666667
의약학              0.000000
인문학              0.666667
자연과학             0.417910
Name: completed, dtype: float64

major_data 카테고리별 평균:
major_data
False    0.496429
True     0.408759
Name: completed, dtype: float64

job 카테고리별 평균:
job
대학생     0.467593
대학원생    0.200000
직장인     0.342857
취준생     0.451613
Name: completed, dtype: float64

class1 카테고리별 평균:
class1
1     0.389937
11    0.518519
12    0.648649
13    0.384615
2     0.476821
4     0.417910
5     0.478261
6     0.622642
7     0.410959
8     0.410959
Name: completed, dtype: float64

class2 카테고리별 평균:
class2
11.0    0.571429
12.0    0.428571
13.0    0.470588
2.0     0.418605
4.0     0.551724
5.0     0.449495
6.0     0.538462
7.0     0.400000
8.0     0.615385
Name: completed, dtype: float64

class3 카테고리별 평균:
class3
12.0    0.666667
13.0    0.000000
5.0     0.500000
6.0     0.400000
7.0     0.457983
8.0     0.666667
Name: completed, dtype: float64

re_registration 카테고리별 평균:
re_registration
아니요    0.426144
예      0.582524
Name: completed, dtype: float64

nationality 카테고리별 평균:
nationality
내국인    0.458678
외국인    0.666667
Name: completed, dtype: float64

inflow_route 카테고리별 평균:
inflow_route
교내 플랫폼 (에브리타임 X)                    0.000000
기존 학회원 또는 운영진                       0.578199
기타                                  0.000000
대외활동 사이트(링커리어, 캠퍼스픽, 캠퍼즈, 위비티 등)    0.533333
에브리타임                               0.418605
인스타그램                               0.407895
인터넷 검색                              0.000000
지인 추천                               0.424242
Name: completed, dtype: float64

whyBDA 카테고리별 평균:
whyBDA
BDA 학회원만의 혜택을 누리고 싶어서(현직자 강연, 잡 페스티벌, 기업연계 공모전 등)    0.545455
시간적으로 부담이 없어서                                        0.432432
이전 기수에 매우 만족해서                                       0.582524
큰 규모인 만큼, 커리큘럼이나 운영 등 관리가 잘 될것 같아서                   0.417910
학회 가입 시 코딩 테스트, 면접 등을 보지 않아서                         0.466667
현직자의 강의를 듣고 싶어서                                      0.276923
혼자 공부하기 어려워서                                         0.424419
Name: completed, dtype: float64

what_to_gain 카테고리별 평균:
what_to_gain
공모전 경험                                                                             0.463158
공모전과 프로젝트                                                                          0.000000
기초적인 python, sql 지식 숙지                                                             0.000000
데이터 분석 역량                                                                          0.464899
분석 역량, 공모전 경험, 인적 네트워크                                                             0.000000
사실 한가지를 고르기 어렵습니다..ㅠㅠ 학회를 통해 위의 4가지와 협업에 계신 전문가님들에게 유익한 정보를 얻고 소중한 경험을 하고 싶습니다.    1.000000
위 항목 전체                                                                            0.000000
인적 네트워크                                                                            0.432432
프로젝트 경험                                                                            0.447917
Name: completed, dtype: float64

hope_for_group 카테고리별 평균:
hope_for_group
네. 오프라인으로 참여하고 싶어요          0.414687
네. 온라인으로 참여하고 싶어요           0.507042
아니요. 개인적으로 학회 활동을 하고 싶어요    0.483660
Name: completed, dtype: float64

previous_class_4 카테고리별 평균:
previous_class_4
0001 : 파이썬 문법 기초반         1.000000
0005 : 데이터 분석 입문반 (통계)    0.000000
0009 : 데이터 분석 개념반         1.000000
해당없음                      0.457557
Name: completed, dtype: float64

previous_class_5 카테고리별 평균:
previous_class_5
0001 : 파이썬 문법 기초반           0.666667
0004 : 데이터 분석 입문반 (머신러닝)    1.000000
0005 : 데이터 분석 입문반 (통계)      0.000000
0006 : 데이터 분석 전처리반(판다스)     0.666667
해당없음                        0.456067
Name: completed, dtype: float64

previous_class_6 카테고리별 평균:
previous_class_6
0001 : 파이썬 문법 기초반                              0.571429
0001 : 파이썬 문법 기초반, 0003 : R문법 기초반              0.000000
0001 : 파이썬 문법 기초반, 0004 : 데이터 분석 입문반 (머신러닝)    0.000000
0004 : 데이터 분석 입문반 (머신러닝)                       0.400000
0005 : 데이터 분석 입문반 (통계)                         0.000000
0006 : 데이터 분석 전처리반(판다스)                        0.888889
0007 : 데이터 분석 전처리 적용반                          1.000000
0008 : 데이터 분석 모델링반 (ML1)                       0.666667
0009 : 데이터 분석 개념반                              0.000000
해당없음                                           0.454835
Name: completed, dtype: float64

previous_class_7 카테고리별 평균:
previous_class_7
0001 : 파이썬 문법 기초반                              0.333333
0001 : 파이썬 문법 기초반, 0002 : SQL 문법 기초반           1.000000
0001 : 파이썬 문법 기초반, 0009 : 데이터 분석 개념반           0.000000
0002 : SQL 문법 기초반                              0.000000
0002 : SQL 문법 기초반, 0004 : 데이터 분석 입문반 (머신러닝)    0.000000
0004 : 데이터 분석 입문반 (머신러닝)                       0.666667
0005 : 데이터 분석 입문반 (통계)                         0.500000
0006 : 데이터 분석 전처리반(판다스)                        0.666667
0008 : 데이터 분석 모델링반 (ML1)                       1.000000
0009 : 데이터 분석 개념반                              0.000000
해당없음                                           0.455724
해당없음, 0004 : 데이터 분석 입문반 (머신러닝)                 1.000000
Name: completed, dtype: float64

previous_class_8 카테고리별 평균:
previous_class_8
0001 : 파이썬 문법 기초반                                    0.514286
0001 : 파이썬 문법 기초반, 0002 : SQL 문법 기초반                 1.000000
0001 : 파이썬 문법 기초반, 0004 : 데이터 분석 입문반 (머신러닝)          0.000000
0001 : 파이썬 문법 기초반, 0009 : 데이터 분석 개념반                 0.000000
0002 : SQL 문법 기초반                                    0.600000
0002 : SQL 문법 기초반, 0005 : 데이터 분석 입문반 (통계)            0.000000
0002 : SQL 문법 기초반, 0006 : 데이터 분석 전처리반(판다스)           1.000000
0004 : 데이터 분석 입문반 (머신러닝)                             0.571429
0004 : 데이터 분석 입문반 (머신러닝), 0005 : 데이터 분석 입문반 (통계)     0.800000
0004 : 데이터 분석 입문반 (머신러닝), 0006 : 데이터 분석 전처리반(판다스)    1.000000
0005 : 데이터 분석 입문반 (통계)                               0.761905
0005 : 데이터 분석 입문반 (통계), 0006 : 데이터 분석 전처리반(판다스)      0.000000
0006 : 데이터 분석 전처리반(판다스)                              0.500000
0007 : 데이터 분석 전처리 적용반                                0.615385
0008 : 데이터 분석 모델링반 (ML1)                             0.666667
해당없음                                                 0.431227
Name: completed, dtype: float64

major_field 카테고리별 평균:
major_field
IT (컴퓨터 공학 포함)                               0.451923
IT (컴퓨터 공학 포함), 경영학                          0.222222
IT (컴퓨터 공학 포함), 경제통상학                        0.000000
IT (컴퓨터 공학 포함), 공학 (컴퓨터 공학 제외)               0.555556
IT (컴퓨터 공학 포함), 공학 (컴퓨터 공학 제외), 자연과학, 의약학    0.000000
IT (컴퓨터 공학 포함), 사회과학                         0.400000
IT (컴퓨터 공학 포함), 사회과학, 예체능                    1.000000
IT (컴퓨터 공학 포함), 예체능                          1.000000
IT (컴퓨터 공학 포함), 인문학                          0.333333
IT (컴퓨터 공학 포함), 자연과학                         0.181818
경영학                                          0.307692
경영학, 경제통상학                                   0.400000
경영학, 교육학                                     0.666667
경영학, 사회과학                                    0.400000
경영학, 예체능                                     0.000000
경영학, 인문학                                     0.333333
경제통상학                                        0.538462
경제통상학, 사회과학                                  0.500000
경제통상학, 예체능                                   1.000000
경제통상학, 인문학                                   1.000000
공학 (컴퓨터 공학 제외)                               0.427673
공학 (컴퓨터 공학 제외), 경영학                          0.666667
공학 (컴퓨터 공학 제외), 사회과학                         0.000000
공학 (컴퓨터 공학 제외), 사회과학, 인문학                    0.000000
공학 (컴퓨터 공학 제외), 인문학                          0.000000
공학 (컴퓨터 공학 제외), 자연과학                         0.888889
공학 (컴퓨터 공학 제외), 자연과학, 경영학                    0.000000
교육학                                          0.600000
법학                                           0.666667
법학, 사회과학                                     0.000000
사회과학                                         0.514851
사회과학, 예체능                                    0.000000
사회과학, 인문학                                    0.666667
예체능                                          0.428571
의약학                                          0.363636
인문학                                          0.590164
자연고학                                         1.000000
자연과학                                         0.500000
자연과학, 경영학                                    0.600000
자연과학, 경제통상학                                  0.000000
자연과학, 교육학                                    0.666667
자연과학, 사회과학                                   0.000000
자연과학, 인문학                                    0.000000
Name: completed, dtype: float64

desired_career_path 카테고리별 평균:
desired_career_path
대학원 진학    0.502618
이직        0.344828
창업        0.545455
취업        0.451351
Name: completed, dtype: float64

project_type 카테고리별 평균:
project_type
개인    0.465278
팀     0.456808
Name: completed, dtype: float64

time_input 카테고리별 평균:
time_input
0.0     0.666667
0.7     0.000000
1.0     0.500000
1.5     0.380952
10.0    0.000000
2.0     0.435644
2.5     0.000000
24.0    1.000000
3.0     0.468354
4.0     0.550000
5.0     0.461538
6.0     0.222222
7.0     1.000000
8.0     0.000000
Name: completed, dtype: float64

desired_job 카테고리별 평균:
desired_job
A. 데이터 엔지니어                                            0.434783
A. 데이터 엔지니어, B. 데이터 분석가                                0.620690
A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트                 0.338983
A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트,                0.000000
A. 데이터 엔지니어, B. 데이터 분석가, C. 데이터 사이언티스트, D. 인공지능 전문가    0.416667
                                                         ...
품질                                                     1.000000
품질,생산                                                  0.000000
품질관리                                                   0.000000
화학공장 생산관리 엔지니어                                         0.000000
회계 직무                                                  1.000000
Name: completed, Length: 174, dtype: float64

certificate_acquisition 카테고리별 평균:
certificate_acquisition
ADsP                              0.503497
ADsP, SQLD                        0.595745
ADsP, SQLD, 구글 애널리스트              0.000000
ADsP, SQLD, 빅데이터 분석 기사            0.666667
ADsP, SQLD, 빅데이터 분석 기사, 정보처리기사    0.000000
ADsP, SQLD, 정보처리기사                0.571429
ADsP, 구글 애널리스트                    1.000000
ADsP, 빅데이터 분석 기사                  0.909091
ADsP, 정보처리기사                      0.000000
ADsP, 정보처리기사, SQLD                1.000000
ADsP, 정보처리기사, 구글 애널리스트            0.000000
AWS                               0.000000
SQLD                              0.588235
SQLD, 구글 애널리스트                    0.800000
SQLD, 정보처리기사                      1.000000
구글 애널리스트                          0.533333
기타                                0.666667
빅데이터 분석 기사                        0.000000
빅데이터 분석 기사, 정보처리기사                0.000000
없음                                0.400000
정보처리기사                            0.000000
준비중                               0.666667
준비중: ADsP, SQLD                   0.666667
준비중: SQLD                         0.000000
컴퓨터활용능력                           0.000000
태블로                               0.000000
태블로, 구글 애널리스트                     0.000000
Name: completed, dtype: float64

desired_certificate 카테고리별 평균:
desired_certificate
.                               0.500000
ADsP                            0.388889
ADsP, 6sigma                    0.000000
ADsP, ADP                       0.000000
ADsP, SQLD                      0.520548
                                  ...
정보처리기사, 구글 애널리스트                0.000000
정보처리기사, 태블로 관련 자격증, 구글 애널리스트    0.800000
태블로 관련 자격증                      0.400000
태블로 관련 자격증, AICE                0.000000
태블로 관련 자격증, 구글 애널리스트            0.250000
Name: completed, Length: 91, dtype: float64

desired_job_except_data 카테고리별 평균:
desired_job_except_data
A. 금융 / 보험 직무                                                                           0.504854
A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무                                                       0.431373
A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, C. MD                                                0.000000
A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, C. MD, D. 소프트웨어 개발자, E. UI/UX 디자이너, H. 마케터 / 영업관리    0.000000
A. 금융 / 보험 직무, B. 기획 / 전략 / 경영 직무, C. MD, F. PM / 서비스 기획자                               0.400000
                                                                                          ...
F. PM / 서비스 기획자, G. 자연과학계열 연구자, H. 마케터 / 영업관리                                           1.000000
F. PM / 서비스 기획자, H. 마케터 / 영업관리                                                          0.444444
G. 자연과학계열 연구자                                                                           0.553846
G. 자연과학계열 연구자, H. 마케터 / 영업관리                                                            0.000000
H. 마케터 / 영업관리                                                                           0.153846
Name: completed, Length: 99, dtype: float64

incumbents_level 카테고리별 평균:
incumbents_level
시니어 (10년차 ~)    0.464789
주니어 (0~3년차)     0.457060
Name: completed, dtype: float64

incumbents_lecture 카테고리별 평균:
incumbents_lecture
산업 트렌드 (예시: ChatGPT로 인한 직무 변화)             0.400000
원동력                                        1.000000
위 3개 전부 다                                  0.000000
위 항목 전부 다                                  0.000000
위에 3가지 모두 듣고 싶습니다                          1.000000
직무 강의 (예시: 실무 진행 방식 및 직무 준비생을 위한 팁)        0.438356
취업하기 위해 준비했던 각종 데이터 관련 경험들                 0.000000
커리어 패스 과정 (예시: 비전공자/전공자의 취업 준비 및 이직 과정)    0.485207
커리어 패스 과정과 직무 강의 둘다 궁금합니다                  0.000000
커리어패스, 산업 트렌드                              0.000000
Name: completed, dtype: float64

incumbents_company_level 카테고리별 평균:
incumbents_company_level
...                                     0.000000
1순위: 국내 대기업 IT 계열. 2순위: 해외 기업(빅테크)      0.000000
게임회사                                    1.000000
공간정보 관련 직무 계열                           0.000000
국내 대기업 IT 계열 (금융, 제조 ...)               0.466321
국내 대기업 IT 계열과 해외 기업 현직자에게 가장 듣고 싶습니다    1.000000
국내 빅테크 IT 계열 (네카라쿠배당토)                  0.466125
국내 빅테크 IT계열, 해외 기업 둘 다                  0.000000
국내와 해외 기업 현직자 모두에게 들었으면 좋겠다.            0.000000
국내외 반도체 기업                              0.000000
바이오인공지능 계열                              0.000000
배터리 관련 기업                               1.000000
스타트업 C-level                            0.491228
스포츠구단                                   0.000000
은행 및 보험 쪽 IT                            1.000000
잘 모르겠음                                  0.000000
해외 기업 (빅테크)                             0.408451
Name: completed, dtype: float64

incumbents_lecture_type 카테고리별 평균:
incumbents_lecture_type
오프라인          0.393939
온, 오프라인 동시    0.451515
온라인           0.536313
Name: completed, dtype: float64

incumbents_lecture_scale 카테고리별 평균:
incumbents_lecture_scale
...                          0.000000
100명 이상의 리스너와 1-2명의 현직자      0.000000
100명 이상의 리스너와 10명 이상의 현직자    0.463320
100명 이상의 리스너와 3명의 현직자        1.000000
10명 내외의 강의 리스너와 1명의 현직자      0.489209
3~50명 내외의 강의 리스너와 1명의 현직자    0.449912
Name: completed, dtype: float64

expected_domain 카테고리별 평균:
expected_domain
A. 농업, 임업 및 어업                                                                                           0.000000
A. 농업, 임업 및 어업, M. 전문, 과학 및 기술 서비스업, U. 국제 및 외국기관                                                        1.000000
C. 제조업                                                                                                   0.550000
C. 제조업, D. 전기, 가스, 증기 및 공기 조절 공급업, F. 건설업, K. 금융 및 보험업, U. 국제 및 외국기관                                     0.000000
C. 제조업, D. 전기, 가스, 증기 및 공기 조절 공급업, G. 도매 및 소매업, J. 정보통신업, M. 전문, 과학 및 기술 서비스업, O. 공공 행정, 국방 및 사회보장 행정    0.000000
                                                                                                           ...
R. 예술, 스포츠 및 여가관련 서비스업, S. 협회 및 단체, 수리 및 기타 개인 서비스업                                                      0.000000
R. 예술, 스포츠 및 여가관련 서비스업, U. 국제 및 외국기관                                                                     0.500000
S. 협회 및 단체, 수리 및 기타 개인 서비스업                                                                              0.000000
T. 가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동                                                                     1.000000
U. 국제 및 외국기관                                                                                             0.454545
Name: completed, Length: 170, dtype: float64

onedayclass_topic 카테고리별 평균:
onedayclass_topic
Python 응용                                                                                                                                                             0.352941
Python 응용, SQL 응용                                                                                                                                                     0.740741
Python 응용, SQL 응용, 웹 크롤링                                                                                                                                              0.285714
Python 응용, 금융데이터                                                                                                                                                      0.000000
Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등)                                                                                                                            0.500000
Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), SQL 응용                                                                                                                    0.482759
Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), SQL 응용, 웹 크롤링                                                                                                             0.500000
Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 데이터 엔지니어링(파이프라인설계), 포트폴리오 A to Z, 공모전 수상 tip                                                                              1.000000
Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용                                                                                                             0.476190
Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, SQL 응용                                                                                                     0.511628
Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링                                                                                              0.517241
Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, SQL 응용, 웹 크롤링, CNN, RNN과 같이 심화된 내용으로 시야를  넓히고 싶습니다. 또는 chatgpt 활용, powebi 같은 학교 수업에서 듣지 못하는 수업을 듣고 싶습니다    1.000000
Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 머신러닝 / 딥러닝 응용, 웹 크롤링                                                                                                      0.285714
Python 응용, 데이터 시각화 (Matplotlib, Seaborn 등), 웹 크롤링                                                                                                                     0.666667
Python 응용, 머신러닝 / 딥러닝 응용                                                                                                                                              0.533333

/var/folders/5m/_gpx3nys4h17jj55v47mmt700000gn/T/ipykernel_93922/1195567414.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  category_means = train.groupby(col)['completed'].mean()

In [47]:
# CatBoost 모델 설정 및 학습
# 과적합을 강하게 유도하기 위한 설정

# 카테고리형 특성 인덱스 지정
cat_features = list(range(len(X.columns)))

model = CatBoostRegressor(
    iterations=5000,           # 반복 횟수 대폭 증가
    depth=10,                  # 트리 깊이 (과적합 유도)
    learning_rate=0.05,        # 학습률 약간 증가
    loss_function='RMSE',      # 손실 함수
    cat_features=cat_features, # 카테고리형 특성
    l2_leaf_reg=1,             # L2 정규화 약하게 설정
    random_seed=42,
    verbose=200                # 200번마다 출력
)

# 초기값(baseline)을 사용하여 학습
print("모델 학습 시작...")
model.fit(
    X, y,
    baseline=baseline_values,  # 각 칼럼별 평균을 초기값으로 사용
    verbose=200
)

print("\n모델 학습 완료!")

모델 학습 시작...
0:	learn: 0.4694623	total: 25.9ms	remaining: 2m 9s
200:	learn: 0.0158370	total: 3.73s	remaining: 1m 29s
400:	learn: 0.0051062	total: 7.67s	remaining: 1m 28s
600:	learn: 0.0022653	total: 11.6s	remaining: 1m 25s
800:	learn: 0.0011556	total: 15.6s	remaining: 1m 21s
1000:	learn: 0.0005673	total: 19.6s	remaining: 1m 18s
1200:	learn: 0.0003143	total: 23.6s	remaining: 1m 14s
1400:	learn: 0.0001729	total: 27.6s	remaining: 1m 10s
1600:	learn: 0.0000997	total: 31.6s	remaining: 1m 7s
1800:	learn: 0.0000579	total: 35.7s	remaining: 1m 3s
2000:	learn: 0.0000334	total: 39.7s	remaining: 59.5s
2200:	learn: 0.0000210	total: 43.7s	remaining: 55.5s
2400:	learn: 0.0000132	total: 47.7s	remaining: 51.6s
2600:	learn: 0.0000091	total: 51.8s	remaining: 47.8s
2800:	learn: 0.0000058	total: 55.8s	remaining: 43.8s
3000:	learn: 0.0000038	total: 59.8s	remaining: 39.8s
3200:	learn: 0.0000025	total: 1m 3s	remaining: 35.9s
3400:	learn: 0.0000016	total: 1m 7s	remaining: 31.9s
3600:	learn: 0.0000010	total: 1m 11s	remaining: 27.9s
3800:	learn: 0.0000006	total: 1m 15s	remaining: 23.9s
4000:	learn: 0.0000004	total: 1m 19s	remaining: 20s
4200:	learn: 0.0000002	total: 1m 24s	remaining: 16s
4400:	learn: 0.0000002	total: 1m 28s	remaining: 12s
4600:	learn: 0.0000001	total: 1m 32s	remaining: 8.04s
4800:	learn: 0.0000001	total: 1m 36s	remaining: 4.02s
4999:	learn: 0.0000000	total: 1m 41s	remaining: 0us

모델 학습 완료!

In [49]:
# 학습 결과 확인
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score

y_pred = model.predict(X)

# RMSE, R2 Score
rmse = np.sqrt(mean_squared_error(y, y_pred))
r2 = r2_score(y, y_pred)

# Accuracy: 0.5 기준으로 0/1 분류
y_pred_binary = (y_pred >= 0.5).astype(int)
accuracy = accuracy_score(y, y_pred_binary)

print(f"Train RMSE: {rmse:.4f}")
print(f"Train R2 Score: {r2:.4f}")
print(f"Train Accuracy: {accuracy:.4f} ({accuracy*100:.2f}%)")

# 특성 중요도 확인
feature_importance = model.get_feature_importance()
feature_names = X.columns

importance_df = pd.DataFrame({
    'feature': feature_names,
    'importance': feature_importance
}).sort_values('importance', ascending=False)

print(f"\n특성 중요도 Top 10:")
print(importance_df.head(10))

Train RMSE: 0.4667
Train R2 Score: 0.1231
Train Accuracy: 0.8496 (84.96%)

특성 중요도 Top 10:
                     feature  importance
0                    school1   26.422643
24               desired_job   16.515911
34         onedayclass_topic   10.676127
25   certificate_acquisition    9.439697
6                     class1    7.407864
26       desired_certificate    5.414817
27   desired_job_except_data    3.673419
12                    whyBDA    3.521265
32  incumbents_lecture_scale    2.691566
2                   major1_1    2.495685